html {
  --primitives--size--text--weight--0: 300;
  --primitives--size--text--weight--1: 400;
  --primitives--size--text--weight--2: 500;
  --primitives--size--text--weight--3: 600;
  --primitives--size--text--weight--4: 700;
  --primitives--size--text--height--0: 1.5;
  --primitives--size--text--height--1: 1.3;
  --primitives--size--text--height--2: 1.2;
  --primitives--size--text--height--3: 1.1;
  --primitives--size--text--height--4: 1;
  --primitives--size--text--spacing--0: -0.011em;
  --primitives--size--text--spacing--1: -0.014em;
  --primitives--size--text--spacing--2: -0.019em;
  --primitives--size--text--spacing--3: -0.021em;
  --primitives--size--text--spacing--4: -0.022em;
  --br0: 0.25rem;
  --br1: 0.5em;
  --br2: 1em;
  --br3: 1.5em;
  --br4: 2em;
  --bw0: 0.5px;
  --bw1: 1px;
  --bw2: 1.5em;
  --bw3: 0.125rem;
  --bw4: 0.25rem;
  --ar0: 1/1;
  --ar1: 2/3;
  --ar2: 3/2;
  --ar3: 9/16;
  --ar4: 16/9;
  --f-check-space: 0.5rem;
  --f-check-radius: 0.125rem;
  --f-check-color: var(--col-1);
  --f-check-icon: url("https://cdn.jsdelivr.net/gh/stefan-nube/nube-flow-pro@v0.2.0/nf-check_icon.svg");
  --f-radio-border: 1.2px;
}

@media (max-width: 991px) {
  html {
    --x0: 0.75rem;
    --x1: 0.875rem;
    --x2: 1rem;
    --x3: 1.125rem;
    --x4: 1.25rem;
    --x5: 1.5rem;
    --x6: 2rem;
    --x7: 2.25rem;
    --x8: 3rem;
    --x9: 3.75rem;
  }
}
@media (max-width: 767px) {
  html {
    --x0: 0.75rem;
    --x1: 0.875rem;
    --x2: 1rem;
    --x3: 1.125rem;
    --x4: 1.25rem;
    --x5: 1.5rem;
    --x6: 1.75rem;
    --x7: 2.25rem;
    --x8: 2.75rem;
    --x9: 3.5rem;
  }
}
@media (max-width: 479px) {
  html {
    --x0: 0.75rem;
    --x1: 0.875rem;
    --x2: 1rem;
    --x3: 1.125rem;
    --x4: 1.25rem;
    --x5: 1.5rem;
    --x6: 1.75rem;
    --x7: 2rem;
    --x8: 2.5rem;
    --x9: 3.25rem;
  }
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overscroll-behavior: none;
}

.page {
  overflow: clip;
}

h1 {
  margin-block: 0;
  font-size: var(--primitives--size--text--x9);
  letter-spacing: var(--primitives--size--text--spacing--4);
  line-height: var(--primitives--size--text--height--4);
}

h2 {
  margin-block: 0;
  font-size: var(--primitives--size--text--x8);
  letter-spacing: var(--primitives--size--text--spacing--3);
  line-height: var(--primitives--size--text--height--4);
}

h3 {
  margin-block: 0;
  font-size: var(--primitives--size--text--x7);
  letter-spacing: var(--primitives--size--text--spacing--2);
  line-height: var(--primitives--size--text--height--4);
}

h4 {
  margin-block: 0;
  font-size: var(--primitives--size--text--x6);
  letter-spacing: var(--primitives--size--text--spacing--2);
  line-height: var(--primitives--size--text--height--3);
}

h5 {
  margin-block: 0;
  font-size: var(--primitives--size--text--x5);
  letter-spacing: var(--primitives--size--text--spacing--1);
  line-height: var(--primitives--size--text--height--2);
}

h6 {
  margin-block: 0;
  font-size: var(--primitives--size--text--x3);
  letter-spacing: var(--primitives--size--text--spacing--0);
  line-height: var(--primitives--size--text--height--0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--tokens--color--text--secondary);
}

a,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
  padding-inline: 0.25rem;
  outline-color: var(--primitives--color--brand--1-0);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 0px;
}

a:focus-visible {
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
}

p,
label {
  margin-bottom: 0;
}

p {
  line-height: inherit;
}

.w-richtext > :first-child {
  margin-top: 0;
}

.w-richtext > :last-child,
.w-richtext ol li:last-child,
.w-richtext ul li:last-child {
  margin-bottom: 0;
}

[class*=icon] svg {
  width: auto !important;
  height: 100% !important;
}

[class*=icon] svg path {
  fill: currentColor !important;
}

body {
  background-color: var(--tokens--color--surface--primary);
  color: var(--tokens--color--text--secondary);
  font-size: var(--primitives--size--text--x2);
  letter-spacing: var(--primitives--size--text--spacing--0);
  line-height: var(--primitives--size--text--height--0);
}

[class*=bg0-0] {
  background: var(--primitives--color--base--0-0);
}

[class*=fc0-0] {
  color: var(--primitives--color--base--0-0);
}

[class*=bc0-0] {
  border-color: var(--primitives--color--base--0-0);
}

[class*=sc0-0] {
  -webkit-text-stroke-color: var(--primitives--color--base--0-0);
}

[class*=bg0-1] {
  background: var(--primitives--color--base--0-1);
}

[class*=fc0-1] {
  color: var(--primitives--color--base--0-1);
}

[class*=bc0-1] {
  border-color: var(--primitives--color--base--0-1);
}

[class*=sc0-1] {
  -webkit-text-stroke-color: var(--primitives--color--base--0-1);
}

[class*=bg0-2] {
  background: var(--primitives--color--base--0-2);
}

[class*=fc0-2] {
  color: var(--primitives--color--base--0-2);
}

[class*=bc0-2] {
  border-color: var(--primitives--color--base--0-2);
}

[class*=sc0-2] {
  -webkit-text-stroke-color: var(--primitives--color--base--0-2);
}

[class*=bg0-3] {
  background: var(--primitives--color--base--0-3);
}

[class*=fc0-3] {
  color: var(--primitives--color--base--0-3);
}

[class*=bc0-3] {
  border-color: var(--primitives--color--base--0-3);
}

[class*=sc0-3] {
  -webkit-text-stroke-color: var(--primitives--color--base--0-3);
}

[class*=bg0-4] {
  background: var(--primitives--color--base--0-4);
}

[class*=fc0-4] {
  color: var(--primitives--color--base--0-4);
}

[class*=bc0-4] {
  border-color: var(--primitives--color--base--0-4);
}

[class*=sc0-4] {
  -webkit-text-stroke-color: var(--primitives--color--base--0-4);
}

[class*=bg0-5] {
  background: var(--primitives--color--base--0-5);
}

[class*=fc0-5] {
  color: var(--primitives--color--base--0-5);
}

[class*=bc0-5] {
  border-color: var(--primitives--color--base--0-5);
}

[class*=sc0-5] {
  -webkit-text-stroke-color: var(--primitives--color--base--0-5);
}

[class*=bg1-0] {
  background: var(--primitives--color--brand--1-0);
}

[class*=fc1-0] {
  color: var(--primitives--color--brand--1-0);
}

[class*=bc1-0] {
  border-color: var(--primitives--color--brand--1-0);
}

[class*=sc1-0] {
  -webkit-text-stroke-color: var(--primitives--color--brand--1-0);
}

[class*=bg1-1] {
  background: var(--primitives--color--brand--1-1);
}

[class*=fc1-1] {
  color: var(--primitives--color--brand--1-1);
}

[class*=bc1-1] {
  border-color: var(--primitives--color--brand--1-1);
}

[class*=sc1-1] {
  -webkit-text-stroke-color: var(--primitives--color--brand--1-1);
}

[class*=lg_x0] {
  font-size: var(--size--text--x0);
}

[class*=lg_x1] {
  font-size: var(--size--text--x1);
}

[class*=lg_x2] {
  font-size: var(--size--text--x2);
}

[class*=lg_x3] {
  font-size: var(--size--text--x3);
}

[class*=lg_x4] {
  font-size: var(--size--text--x4);
}

[class*=lg_x5] {
  font-size: var(--size--text--x5);
}

[class*=lg_x6] {
  font-size: var(--size--text--x6);
}

[class*=lg_x7] {
  font-size: var(--size--text--x7);
}

[class*=lg_x8] {
  font-size: var(--size--text--x8);
}

[class*=lg_x9] {
  font-size: var(--size--text--x9);
}

@media screen and (max-width: 991px) {
  [class*=md_x0] {
    font-size: var(--size--text--x0);
  }
  [class*=md_x1] {
    font-size: var(--size--text--x1);
  }
  [class*=md_x2] {
    font-size: var(--size--text--x2);
  }
  [class*=md_x3] {
    font-size: var(--size--text--x3);
  }
  [class*=md_x4] {
    font-size: var(--size--text--x4);
  }
  [class*=md_x5] {
    font-size: var(--size--text--x5);
  }
  [class*=md_x6] {
    font-size: var(--size--text--x6);
  }
  [class*=md_x7] {
    font-size: var(--size--text--x7);
  }
  [class*=md_x8] {
    font-size: var(--size--text--x8);
  }
  [class*=md_x9] {
    font-size: var(--size--text--x9);
  }
}
@media screen and (max-width: 767px) {
  [class*=sm_x0] {
    font-size: var(--size--text--x0);
  }
  [class*=sm_x1] {
    font-size: var(--size--text--x1);
  }
  [class*=sm_x2] {
    font-size: var(--size--text--x2);
  }
  [class*=sm_x3] {
    font-size: var(--size--text--x3);
  }
  [class*=sm_x4] {
    font-size: var(--size--text--x4);
  }
  [class*=sm_x5] {
    font-size: var(--size--text--x5);
  }
  [class*=sm_x6] {
    font-size: var(--size--text--x6);
  }
  [class*=sm_x7] {
    font-size: var(--size--text--x7);
  }
  [class*=sm_x8] {
    font-size: var(--size--text--x8);
  }
  [class*=sm_x9] {
    font-size: var(--size--text--x9);
  }
}
@media screen and (max-width: 479px) {
  [class*=xs_x0] {
    font-size: var(--size--text--x0);
  }
  [class*=xs_x1] {
    font-size: var(--size--text--x1);
  }
  [class*=xs_x2] {
    font-size: var(--size--text--x2);
  }
  [class*=xs_x3] {
    font-size: var(--size--text--x3);
  }
  [class*=xs_x4] {
    font-size: var(--size--text--x4);
  }
  [class*=xs_x5] {
    font-size: var(--size--text--x5);
  }
  [class*=xs_x6] {
    font-size: var(--size--text--x6);
  }
  [class*=xs_x7] {
    font-size: var(--size--text--x7);
  }
  [class*=xs_x8] {
    font-size: var(--size--text--x8);
  }
  [class*=xs_x9] {
    font-size: var(--size--text--x9);
  }
}
[class*=cnt] {
  width: 90%;
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
}

:root {
  --grid-gap: 0.75rem;
}

[class*=rw] {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--grid-gap));
  margin-left: calc(-1 * var(--grid-gap));
}

[class*=clm] {
  padding-right: var(--grid-gap);
  padding-left: var(--grid-gap);
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

[class*=clm][class*=xs1] {
  flex-basis: 8.33%;
  max-width: 8.33%;
  flex-grow: 1;
  flex-shrink: 1;
}

[class*=clm][class*=xs2] {
  flex-basis: 16.666%;
  max-width: 16.666%;
  flex-grow: 1;
  flex-shrink: 1;
}

[class*=clm][class*=xs3] {
  flex-basis: 25%;
  max-width: 25%;
  flex-grow: 1;
  flex-shrink: 1;
}

[class*=clm][class*=xs4] {
  flex-basis: 33.333%;
  max-width: 33.333%;
  flex-grow: 1;
  flex-shrink: 1;
}

[class*=clm][class*=xs5] {
  flex-basis: 41.666%;
  max-width: 41.666%;
  flex-grow: 1;
  flex-shrink: 1;
}

[class*=clm][class*=xs6] {
  flex-basis: 50%;
  max-width: 50%;
  flex-grow: 1;
  flex-shrink: 1;
}

[class*=clm][class*=xs7] {
  flex-basis: 58.333%;
  max-width: 58.333%;
  flex-grow: 1;
  flex-shrink: 1;
}

[class*=clm][class*=xs8] {
  flex-basis: 66.666%;
  max-width: 66.666%;
  flex-grow: 1;
  flex-shrink: 1;
}

[class*=clm][class*=xs9] {
  flex-basis: 75%;
  max-width: 75%;
  flex-grow: 1;
  flex-shrink: 1;
}

[class*=clm][class*=xs10] {
  flex-basis: 83.3333%;
  max-width: 83.3333%;
  flex-grow: 1;
  flex-shrink: 1;
}

[class*=clm][class*=xs11] {
  flex-basis: 91.67%;
  max-width: 91.67%;
  flex-grow: 1;
  flex-shrink: 1;
}

[class*=clm][class*=xs12] {
  flex-basis: 100%;
  max-width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

@media (min-width: 479px) {
  [class*=clm][class*=sm1] {
    flex-basis: 8.33%;
    max-width: 8.33%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=sm2] {
    flex-basis: 16.666%;
    max-width: 16.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=sm3] {
    flex-basis: 25%;
    max-width: 25%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=sm4] {
    flex-basis: 33.333%;
    max-width: 33.333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=sm5] {
    flex-basis: 41.666%;
    max-width: 41.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=sm6] {
    flex-basis: 50%;
    max-width: 50%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=sm7] {
    flex-basis: 58.333%;
    max-width: 58.333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=sm8] {
    flex-basis: 66.666%;
    max-width: 66.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=sm9] {
    flex-basis: 75%;
    max-width: 75%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=sm10] {
    flex-basis: 83.3333%;
    max-width: 83.3333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=sm11] {
    flex-basis: 91.67%;
    max-width: 91.67%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=sm12] {
    flex-basis: 100%;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
@media (min-width: 767px) {
  [class*=clm][class*=md1] {
    flex-basis: 8.33%;
    max-width: 8.33%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=md2] {
    flex-basis: 16.666%;
    max-width: 16.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=md3] {
    flex-basis: 25%;
    max-width: 25%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=md4] {
    flex-basis: 33.333%;
    max-width: 33.333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=md5] {
    flex-basis: 41.666%;
    max-width: 41.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=md6] {
    flex-basis: 50%;
    max-width: 50%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=md7] {
    flex-basis: 58.333%;
    max-width: 58.333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=md8] {
    flex-basis: 66.666%;
    max-width: 66.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=md9] {
    flex-basis: 75%;
    max-width: 75%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=md10] {
    flex-basis: 83.3333%;
    max-width: 83.3333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=md11] {
    flex-basis: 91.67%;
    max-width: 91.67%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=md12] {
    flex-basis: 100%;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
@media (min-width: 991px) {
  [class*=clm][class*=lg1] {
    flex-basis: 8.33%;
    max-width: 8.33%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=lg2] {
    flex-basis: 16.666%;
    max-width: 16.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=lg3] {
    flex-basis: 25%;
    max-width: 25%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=lg4] {
    flex-basis: 33.333%;
    max-width: 33.333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=lg5] {
    flex-basis: 41.666%;
    max-width: 41.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=lg6] {
    flex-basis: 50%;
    max-width: 50%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=lg7] {
    flex-basis: 58.333%;
    max-width: 58.333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=lg8] {
    flex-basis: 66.666%;
    max-width: 66.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=lg9] {
    flex-basis: 75%;
    max-width: 75%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=lg10] {
    flex-basis: 83.3333%;
    max-width: 83.3333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=lg11] {
    flex-basis: 91.67%;
    max-width: 91.67%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=lg12] {
    flex-basis: 100%;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
[class*=lg_fd0] {
  flex-direction: column;
}

[class*=lg_fd1] {
  flex-direction: row;
}

[class*=lg_fj0] {
  justify-content: start;
}

[class*=lg_fj1] {
  justify-content: center;
}

[class*=lg_fj2] {
  justify-content: end;
}

[class*=lg_fj3] {
  justify-content: space-between;
}

[class*=lg_fj4] {
  justify-content: space-around;
}

[class*=lg_fa0] {
  align-items: start;
}

[class*=lg_fa1] {
  align-items: center;
}

[class*=lg_fa2] {
  align-items: end;
}

[class*=lg_fa3] {
  align-items: stretch;
}

[class*=lg_fa4] {
  align-items: baseline;
}

@media (max-width: 991px) {
  [class*=md_fd0] {
    flex-direction: column;
  }
  [class*=md_fd1] {
    flex-direction: row;
  }
  [class*=md_fj0] {
    justify-content: start;
  }
  [class*=md_fj1] {
    justify-content: center;
  }
  [class*=md_fj2] {
    justify-content: end;
  }
  [class*=md_fj3] {
    justify-content: space-between;
  }
  [class*=md_fj4] {
    justify-content: space-around;
  }
  [class*=md_fa0] {
    align-items: start;
  }
  [class*=md_fa1] {
    align-items: center;
  }
  [class*=md_fa2] {
    align-items: end;
  }
  [class*=md_fa3] {
    align-items: stretch;
  }
  [class*=md_fa4] {
    align-items: baseline;
  }
}
@media (max-width: 767px) {
  [class*=sm_fd0] {
    flex-direction: column;
  }
  [class*=sm_fd1] {
    flex-direction: row;
  }
  [class*=sm_fj0] {
    justify-content: start;
  }
  [class*=sm_fj1] {
    justify-content: center;
  }
  [class*=sm_fj2] {
    justify-content: end;
  }
  [class*=sm_fj3] {
    justify-content: space-between;
  }
  [class*=sm_fj4] {
    justify-content: space-around;
  }
  [class*=sm_fa0] {
    align-items: start;
  }
  [class*=sm_fa1] {
    align-items: center;
  }
  [class*=sm_fa2] {
    align-items: end;
  }
  [class*=sm_fa3] {
    align-items: stretch;
  }
  [class*=sm_fa4] {
    align-items: baseline;
  }
}
@media (max-width: 479px) {
  [class*=xs_fd0] {
    flex-direction: column;
  }
  [class*=xs_fd1] {
    flex-direction: row;
  }
  [class*=xs_fj0] {
    justify-content: start;
  }
  [class*=xs_fj1] {
    justify-content: center;
  }
  [class*=xs_fj2] {
    justify-content: end;
  }
  [class*=xs_fj3] {
    justify-content: space-between;
  }
  [class*=xs_fj4] {
    justify-content: space-around;
  }
  [class*=xs_fa0] {
    align-items: start;
  }
  [class*=xs_fa1] {
    align-items: center;
  }
  [class*=xs_fa2] {
    align-items: end;
  }
  [class*=xs_fa3] {
    align-items: stretch;
  }
  [class*=xs_fa4] {
    align-items: baseline;
  }
}
[class*=icon12] {
  display: flex;
  height: 0.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon12-12] {
  display: flex;
  height: 0.75rem;
  width: 0.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon16] {
  display: flex;
  height: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon16-16] {
  display: flex;
  height: 1rem;
  width: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon20] {
  display: flex;
  height: 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon20-20] {
  display: flex;
  height: 1.25rem;
  width: 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon24] {
  display: flex;
  height: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon24-24] {
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon32] {
  display: flex;
  height: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon32-32] {
  display: flex;
  height: 2rem;
  width: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon40] {
  display: flex;
  height: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon40-40] {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon-xs] {
  display: flex;
  height: 0.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon-xs-xs] {
  display: flex;
  height: 0.5em;
  width: 0.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon-s] {
  display: flex;
  height: 0.75em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon-s-s] {
  display: flex;
  height: 0.75em;
  width: 0.75em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon-m] {
  display: flex;
  height: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon-m-m] {
  display: flex;
  height: 1em;
  width: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon-l] {
  display: flex;
  height: 1.25em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon-l-l] {
  display: flex;
  height: 1.25em;
  width: 1.25em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon-xl] {
  display: flex;
  height: 1.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon-xl-xl] {
  display: flex;
  height: 1.5em;
  width: 1.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=ta0] {
  text-align: left;
}

[class*=ta1] {
  text-align: center;
}

[class*=ta2] {
  text-align: right;
}

@media (min-width: 479px) {
  [class*=sm_ta0] {
    text-align: left;
  }
  [class*=sm_ta1] {
    text-align: center;
  }
  [class*=sm_ta2] {
    text-align: right;
  }
}
@media (min-width: 767px) {
  [class*=md_ta0] {
    text-align: left;
  }
  [class*=md_ta1] {
    text-align: center;
  }
  [class*=md_ta2] {
    text-align: right;
  }
}
@media (min-width: 991px) {
  [class*=lg_ta0] {
    text-align: left;
  }
  [class*=lg_ta1] {
    text-align: center;
  }
  [class*=lg_ta2] {
    text-align: right;
  }
}
[class*=tw0] {
  font-weight: var(--w0);
}

[class*=tw1] {
  font-weight: var(--w1);
}

[class*=tw2] {
  font-weight: var(--w2);
}

[class*=tw3] {
  font-weight: var(--w3);
}

[class*=tw4] {
  font-weight: var(--w4);
}

[class*=th0] {
  line-height: var(--h0);
}

[class*=th1] {
  line-height: var(--h1);
}

[class*=th2] {
  line-height: var(--h2);
}

[class*=th3] {
  line-height: var(--h3);
}

[class*=th4] {
  line-height: var(--h4);
}

[class*=ts0] {
  letter-spacing: var(--s0);
}

[class*=ts1] {
  letter-spacing: var(--s1);
}

[class*=ts2] {
  letter-spacing: var(--s2);
}

[class*=ts3] {
  letter-spacing: var(--s3);
}

[class*=ts4] {
  letter-spacing: var(--s4);
}

[class*=tt0] {
  text-transform: lowercase;
}

[class*=tt1] {
  text-transform: capitalize;
}

[class*=tt2] {
  text-transform: uppercase;
}

[class*=lg_ed0] {
  display: hidden;
}

[class*=lg_ed1] {
  display: block;
}

[class*=lg_ed2] {
  display: flex;
}

[class*=lg_ed3] {
  display: grid;
}

[class*=lg_ed4] {
  display: inline-block;
}

[class*=lg_ed5] {
  display: inline;
}

[class*=lg_ed6] {
  display: inline-flex;
}

@media (max-width: 991px) {
  [class*=md_ed0] {
    display: hidden;
  }
  [class*=md_ed1] {
    display: block;
  }
  [class*=md_ed2] {
    display: flex;
  }
  [class*=md_ed3] {
    display: grid;
  }
  [class*=md_ed4] {
    display: inline-block;
  }
  [class*=md_ed5] {
    display: inline;
  }
  [class*=md_ed6] {
    display: inline-flex;
  }
}
@media (max-width: 767px) {
  [class*=sm_ed0] {
    display: hidden;
  }
  [class*=sm_ed1] {
    display: block;
  }
  [class*=sm_ed2] {
    display: flex;
  }
  [class*=sm_ed3] {
    display: grid;
  }
  [class*=sm_ed4] {
    display: inline-block;
  }
  [class*=sm_ed5] {
    display: inline;
  }
  [class*=sm_ed6] {
    display: inline-flex;
  }
}
@media (max-width: 479px) {
  [class*=xs_ed0] {
    display: hidden;
  }
  [class*=xs_ed1] {
    display: block;
  }
  [class*=xs_ed2] {
    display: flex;
  }
  [class*=xs_ed3] {
    display: grid;
  }
  [class*=xs_ed4] {
    display: inline-block;
  }
  [class*=xs_ed5] {
    display: inline;
  }
  [class*=xs_ed6] {
    display: inline-flex;
  }
}
[class*=lg_ep0] {
  position: static;
}

[class*=lg_ep1] {
  position: relative;
}

[class*=lg_ep2] {
  position: absolute;
}

[class*=lg_ep3] {
  position: fixed;
}

[class*=lg_ep4] {
  position: sticky;
}

@media (max-width: 991px) {
  [class*=md_ep0] {
    position: static;
  }
  [class*=md_ep1] {
    position: relative;
  }
  [class*=md_ep2] {
    position: absolute;
  }
  [class*=md_ep3] {
    position: fixed;
  }
  [class*=md_ep4] {
    position: sticky;
  }
}
@media (max-width: 767px) {
  [class*=sm_ep0] {
    position: static;
  }
  [class*=sm_ep1] {
    position: relative;
  }
  [class*=sm_ep2] {
    position: absolute;
  }
  [class*=sm_ep3] {
    position: fixed;
  }
  [class*=sm_ep4] {
    position: sticky;
  }
}
@media (max-width: 479px) {
  [class*=xs_ep0] {
    position: static;
  }
  [class*=xs_ep1] {
    position: relative;
  }
  [class*=xs_ep2] {
    position: absolute;
  }
  [class*=xs_ep3] {
    position: fixed;
  }
  [class*=xs_ep4] {
    position: sticky;
  }
}
[class*=br0] {
  border-radius: var(--br0);
}

[class*=br1] {
  border-radius: var(--br1);
}

[class*=br2] {
  border-radius: var(--br2);
}

[class*=br3] {
  border-radius: var(--br3);
}

[class*=br4] {
  border-radius: var(--br4);
}

[class*=bw0] {
  border-width: var(--bw0);
}

[class*=bw1] {
  border-width: var(--bw1);
}

[class*=bw2] {
  border-width: var(--bw2);
}

[class*=bw3] {
  border-width: var(--bw3);
}

[class*=bw4] {
  border-width: var(--bw4);
}

[class*=of0] {
  overflow: visible;
}

[class*=of1] {
  overflow: scroll;
}

[class*=of2] {
  overflow: auto;
}

[class*=of3] {
  overflow: hidden;
}

[class*=ox0] {
  overflow-x: visible;
  overflow-y: hidden;
}

[class*=ox1] {
  overflow-x: scroll;
  overflow-y: hidden;
}

[class*=ox2] {
  overflow-x: auto;
  overflow-y: hidden;
}

[class*=ox3] {
  overflow-x: hidden;
  overflow-y: hidden;
}

[class*=oy0] {
  overflow-y: visible;
  overflow-x: hidden;
}

[class*=oy1] {
  overflow-y: scroll;
  overflow-x: hidden;
}

[class*=oy2] {
  overflow-y: auto;
  overflow-x: hidden;
}

[class*=oy3] {
  overflow-y: hidden;
  overflow-x: hidden;
}

[class*=ar1x1] {
  aspect-ratio: var(--ar0);
  position: relative;
}

[class*=ar2x3] {
  aspect-ratio: var(--ar1);
  position: relative;
}

[class*=ar3x2] {
  aspect-ratio: var(--ar2);
  position: relative;
}

[class*=ar9x16] {
  aspect-ratio: var(--ar3);
  position: relative;
}

[class*=ar16x9] {
  aspect-ratio: var(--ar4);
  position: relative;
}

/* Insert custom code here to override predefined component styles. Learn more on Nube Flow docs @ */
.btn {
  border: solid;
  /* Btn default values from local variables */
  font-weight: var(--tokens--components--button--text-weight);
  font-size: var(--tokens--components--button--text-size);
  grid-column-gap: var(--tokens--components--button--gap);
  border-radius: var(--tokens--components--button--radius);
  height: var(--tokens--components--button--height);
  padding-inline: var(--tokens--components--button--padding);
  /* Btn default static values */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

/* Btn prim values */
.btn {
  background: var(--tokens--components--button--prim--surface);
  color: var(--tokens--components--button--prim--text);
  border-color: var(--tokens--components--button--prim--border);
  outline-color: var(--tokens--components--button--prim--outline);
}

/* Btn sec values */
.btn[btn-type=secondary] {
  background: var(--tokens--components--button--sec--surface);
  color: var(--tokens--components--button--sec--text);
  border-color: var(--tokens--components--button--sec--border);
  outline-color: var(--tokens--components--button--sec--outline);
}

/* Btn ter values */
.btn[btn-type=tertiary] {
  background: var(--tokens--components--button--ter--surface);
  color: var(--tokens--components--button--ter--text);
  border-color: var(--tokens--components--button--ter--border);
  outline-color: var(--tokens--components--button--ter--outline);
}

/* Btn icon values */
.btn > .w-embed {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--tokens--components--button--icon-size);
  height: var(--tokens--components--button--icon-size);
}

.btn svg {
  width: auto;
  height: 100%;
}

.btn svg path {
  fill: currentColor !important;
}

/* Btn extra default values */
.btn[icon-side=left] {
  flex-direction: row-reverse;
}

.btn[btn-full=true] {
  width: 100%;
}

.w-input,
.w-select,
.w-checkbox-input,
.w-radio-input {
  background-color: var(--tokens--components--form--input--surface);
  border-color: var(--tokens--components--form--input--border);
  color: var(--tokens--components--form--input--text);
  outline-color: var(--tokens--components--form--input--outline);
  padding: var(--tokens--components--form--input--padding);
  margin-bottom: 0;
  border-radius: var(--tokens--components--form--input--radius);
}

.w-input::placeholder,
.w-select::placeholder {
  color: var(--tokens--components--form--input--placeholder);
}

.input-label {
  font-size: var(--tokens--components--form--input--label--size);
}

.input-des {
  font-size: var(--tokens--components--form--input--description--text-size);
  color: var(--tokens--components--form--input--description--text);
}

.w-checkbox {
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.w-checkbox-input {
  margin: 0;
  float: none;
  border-radius: var(--tokens--components--form--check--radius);
}

.w-checkbox > .w-form-label {
  padding-left: var(--tokens--components--form--check--gap);
}

.input.w-checkbox-input.w--redirected-checked {
  background-color: var(--tokens--components--form--check--surface);
  border-color: var(--tokens--components--form--check--surface);
}

.input.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-image: var(--tokens--components--form--check--icon);
}

.w-radio {
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.w-radio-input {
  margin: 0;
  float: none;
  border-radius: 50%;
}

.w-radio > .w-form-label {
  padding-left: var(--tokens--components--form--radio--gap);
}

.input.w-radio-input.w--redirected-checked {
  border-color: var(--tokens--components--form--radio--surface);
  background-color: var(--tokens--components--form--radio--surface);
}

.input.w-form-formradioinput--inputType-custom.w--redirected-focus {
  border-width: var(--tokens--components--form--radio--border-width);
}

.input.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: var(--tokens--components--form--radio--border-width);
}

textarea {
  resize: vertical;
  min-height: 7.5rem;
}

.w-select {
  -webkit-appearance: none;
  -moz-appearance: none;
}