html {
  --col-0: #ffffff;
  --col-0-1: #f0f2f4;
  --col-0-2: #d1d5db;
  --col-1: #0c111c;
  --col-1-1: #1c2431;
  --col-1-2: #6b7280;
  --col-2: #165ff2;
  --col-2-1: #5aa7ff;
  --col-2-2: #f2f5fd;
  --x0: 0.75rem;
  --x1: 0.875rem;
  --x2: 1rem;
  --x3: 1.125rem;
  --x4: 1.25rem;
  --x5: 1.5rem;
  --x6: 2rem;
  --x7: 2.5rem;
  --x8: 3.5rem;
  --x9: 4.5rem;
  --w0: 300;
  --w1: 400;
  --w2: 500;
  --w3: 600;
  --w4: 700;
  --h0: 1.5;
  --h1: 1.3;
  --h2: 1.2;
  --h3: 1.1;
  --h4: 1;
  --s0: -0.011em;
  --s1: -0.014em;
  --s2: -0.019em;
  --s3: -0.021em;
  --s4: -0.022em;
  --br0: 0.25rem;
  --br1: 0.5em;
  --br2: 1em;
  --br3: 1.5em;
  --br4: 2em;
  --bw0: 0.5px;
  --bw1: 1px;
  --bw2: 1.5em;
  --bw3: 0.125rem;
  --bw4: 0.25rem;
  --ar0: 1/1;
  --ar1: 2/3;
  --ar2: 3/2;
  --ar3: 9/16;
  --ar4: 16/9;
  --btn-bg: var(--col-2);
  --btn-bc: var(--col-2);
  --btn-fc: var(--col-0);
  --btn-oc: var(--col-2-2);
  --btn-fs: var(--x3);
  --btn-fw: var(--w2);
  --btn-icon-size: 1.2em;
  --btn-sec-bg: transparent;
  --btn-sec-bc: var(--col-1);
  --btn-sec-fc: var(--col-1);
  --btn-sm-fs: var(--x2);
  --btn-sm-fw: var(--w2);
  --btn-sm-icon-size: 1em;
  --f-bg: var(--col-0);
  --f-border: var(--col-0-1);
  --f-radius: 0.5rem;
  --f-outline: var(--col-2-2);
  --f-text: var(--col-1-1);
  --f-place: var(--col-1-2);
  --f-padding: 0.5rem;
  --f-label-size: 0.875em;
  --f-txt-size: 0.75em;
  --f-check-space: 0.5rem;
  --f-check-radius: 0.125rem;
  --f-check-color: var(--col-2);
  --f-check-icon: url("https://cdn.jsdelivr.net/gh/stefan-nube/nube-flow-pro@v0.2.0/nf-check_icon.svg");
  --f-radio-border: 1.2px;
}

/* Snippet to improve the font quality */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overscroll-behavior: none;
}

h1 {
  letter-spacing: var(--s4);
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--x9);
  line-height: var(--h4);
}

h2 {
  letter-spacing: var(--s4);
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--x8);
  line-height: var(--h3);
}

h3 {
  letter-spacing: var(--s4);
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--x7);
  line-height: var(--h2);
}

h4 {
  letter-spacing: var(--s3);
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--x6);
  line-height: var(--h2);
}

h5 {
  letter-spacing: var(--s2);
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--x5);
  line-height: var(--h1);
}

h6 {
  letter-spacing: var(--s0);
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--x3);
  line-height: var(--h0);
}

a,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
  padding-inline: 0.25rem;
  outline-color: var(--col-2-2);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 0px;
}

a:focus-visible {
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
}

p,
label {
  margin-bottom: 0;
}

p {
  line-height: inherit;
}

.w-richtext > :first-child {
  margin-top: 0;
}

.w-richtext > :last-child,
.w-richtext ol li:last-child,
.w-richtext ul li:last-child {
  margin-bottom: 0;
}

body {
  background-color: var(--col-0);
  color: var(--col-1-1);
  font-size: var(--x2);
  line-height: var(--h0);
  letter-spacing: var(--s0);
}

[class*=bg0] {
  background-color: var(--col-0);
}

[class*=fc0] {
  color: var(--col-0);
}

[class*=bc0] {
  border-color: var(--col-0);
}

[class*=sc0] {
  -webkit-text-stroke-color: var(--col-0);
}

[class*=bg0-1] {
  background-color: var(--col-0-1);
}

[class*=fc0-1] {
  color: var(--col-0-1);
}

[class*=bc0-1] {
  border-color: var(--col-0-1);
}

[class*=sc0-1] {
  -webkit-text-stroke-color: var(--col-0-1);
}

[class*=bg0-2] {
  background-color: var(--col-0-2);
}

[class*=fc0-2] {
  color: var(--col-0-2);
}

[class*=bc0-2] {
  border-color: var(--col-0-2);
}

[class*=sc0-2] {
  -webkit-text-stroke-color: var(--col-0-2);
}

[class*=bg1] {
  background-color: var(--col-1);
}

[class*=fc1] {
  color: var(--col-1);
}

[class*=bc1] {
  border-color: var(--col-1);
}

[class*=sc1] {
  -webkit-text-stroke-color: var(--col-1);
}

[class*=bg1-1] {
  background-color: var(--col-1-1);
}

[class*=fc1-1] {
  color: var(--col-1-1);
}

[class*=bc1-1] {
  border-color: var(--col-1-1);
}

[class*=sc1-1] {
  -webkit-text-stroke-color: var(--col-1-1);
}

[class*=bg1-2] {
  background-color: var(--col-1-2);
}

[class*=fc1-2] {
  color: var(--col-1-2);
}

[class*=bc1-2] {
  border-color: var(--col-1-2);
}

[class*=sc1-2] {
  -webkit-text-stroke-color: var(--col-1-2);
}

[class*=bg2] {
  background-color: var(--col-2);
}

[class*=fc2] {
  color: var(--col-2);
}

[class*=bc2] {
  border-color: var(--col-2);
}

[class*=sc2] {
  -webkit-text-stroke-color: var(--col-2);
}

[class*=bg2-1] {
  background-color: var(--col-2-1);
}

[class*=fc2-1] {
  color: var(--col-2-1);
}

[class*=bc2-1] {
  border-color: var(--col-2-1);
}

[class*=sc2-1] {
  -webkit-text-stroke-color: var(--col-2-1);
}

[class*=bg2-2] {
  background-color: var(--col-2-2);
}

[class*=fc2-2] {
  color: var(--col-2-2);
}

[class*=bc2-2] {
  border-color: var(--col-2-2);
}

[class*=sc2-2] {
  -webkit-text-stroke-color: var(--col-2-2);
}

[class*=x0] {
  font-size: var(--x0);
}

[class*=x1] {
  font-size: var(--x1);
}

[class*=x2] {
  font-size: var(--x2);
}

[class*=x3] {
  font-size: var(--x3);
}

[class*=x4] {
  font-size: var(--x4);
}

[class*=x5] {
  font-size: var(--x5);
}

[class*=x6] {
  font-size: var(--x6);
}

[class*=x7] {
  font-size: var(--x7);
}

[class*=x8] {
  font-size: var(--x8);
}

[class*=x9] {
  font-size: var(--x9);
}

@media (max-width: 62rem) {
  [class*=t_x0] {
    font-size: var(--x0);
  }
  [class*=t_x1] {
    font-size: var(--x1);
  }
  [class*=t_x2] {
    font-size: var(--x2);
  }
  [class*=t_x3] {
    font-size: var(--x3);
  }
  [class*=t_x4] {
    font-size: var(--x4);
  }
  [class*=t_x5] {
    font-size: var(--x5);
  }
  [class*=t_x6] {
    font-size: var(--x6);
  }
  [class*=t_x7] {
    font-size: var(--x7);
  }
  [class*=t_x8] {
    font-size: var(--x8);
  }
  [class*=t_x9] {
    font-size: var(--x9);
  }
}
@media (max-width: 48rem) {
  [class*=ml_x0] {
    font-size: var(--x0);
  }
  [class*=ml_x1] {
    font-size: var(--x1);
  }
  [class*=ml_x2] {
    font-size: var(--x2);
  }
  [class*=ml_x3] {
    font-size: var(--x3);
  }
  [class*=ml_x4] {
    font-size: var(--x4);
  }
  [class*=ml_x5] {
    font-size: var(--x5);
  }
  [class*=ml_x6] {
    font-size: var(--x6);
  }
  [class*=ml_x7] {
    font-size: var(--x7);
  }
  [class*=ml_x8] {
    font-size: var(--x8);
  }
  [class*=ml_x9] {
    font-size: var(--x9);
  }
}
@media (max-width: 30rem) {
  [class*=m_x0] {
    font-size: var(--x0);
  }
  [class*=m_x1] {
    font-size: var(--x1);
  }
  [class*=m_x2] {
    font-size: var(--x2);
  }
  [class*=m_x3] {
    font-size: var(--x3);
  }
  [class*=m_x4] {
    font-size: var(--x4);
  }
  [class*=m_x5] {
    font-size: var(--x5);
  }
  [class*=m_x6] {
    font-size: var(--x6);
  }
  [class*=m_x7] {
    font-size: var(--x7);
  }
  [class*=m_x8] {
    font-size: var(--x8);
  }
  [class*=m_x9] {
    font-size: var(--x9);
  }
}
.cnt {
  width: 90%;
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
}

.cnt-m {
  width: 90%;
  max-width: 68rem;
  margin-right: auto;
  margin-left: auto;
}

.cnt-s {
  width: 90%;
  max-width: 40rem;
  margin-right: auto;
  margin-left: auto;
}

.row {
  position: relative;
  display: flex;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
  padding-bottom: 1.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  grid-row-gap: 1.5rem;
}

.col {
  display: block;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

@media (max-width: 48rem) {
  .col {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
.d1 {
  flex-basis: 8.33%;
  max-width: 8.33%;
  flex-grow: 1;
  flex-shrink: 1;
}

.d2 {
  flex-basis: 16.666%;
  max-width: 16.666%;
  flex-grow: 1;
  flex-shrink: 1;
}

.d3 {
  flex-basis: 25%;
  max-width: 25%;
  flex-grow: 1;
  flex-shrink: 1;
}

.d4 {
  flex-basis: 33.333%;
  max-width: 33.333%;
  flex-grow: 1;
  flex-shrink: 1;
}

.d5 {
  flex-basis: 41.666%;
  max-width: 41.666%;
  flex-grow: 1;
  flex-shrink: 1;
}

.d6 {
  flex-basis: 50%;
  max-width: 50%;
  flex-grow: 1;
  flex-shrink: 1;
}

.d7 {
  flex-basis: 58.333%;
  max-width: 58.333%;
  flex-grow: 1;
  flex-shrink: 1;
}

.d8 {
  flex-basis: 66.666%;
  max-width: 66.666%;
  flex-grow: 1;
  flex-shrink: 1;
}

.d9 {
  flex-basis: 75%;
  max-width: 75%;
  flex-grow: 1;
  flex-shrink: 1;
}

.d10 {
  flex-basis: 83.3333%;
  max-width: 83.3333%;
  flex-grow: 1;
  flex-shrink: 1;
}

.d11 {
  flex-basis: 91.67%;
  max-width: 91.67%;
  flex-grow: 1;
  flex-shrink: 1;
}

.d12 {
  flex-basis: 100%;
  max-width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

@media (max-width: 62rem) {
  .t1 {
    flex-basis: 8.33%;
    max-width: 8.33%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .t2 {
    flex-basis: 16.666%;
    max-width: 16.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .t3 {
    flex-basis: 25%;
    max-width: 25%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .t4 {
    flex-basis: 33.333%;
    max-width: 33.333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .t5 {
    flex-basis: 41.666%;
    max-width: 41.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .t6 {
    flex-basis: 50%;
    max-width: 50%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .t7 {
    flex-basis: 58.333%;
    max-width: 58.333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .t8 {
    flex-basis: 66.666%;
    max-width: 66.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .t9 {
    flex-basis: 75%;
    max-width: 75%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .t10 {
    flex-basis: 83.3333%;
    max-width: 83.3333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .t11 {
    flex-basis: 91.67%;
    max-width: 91.67%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .t12 {
    flex-basis: 100%;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
@media (max-width: 48rem) {
  .ml1 {
    flex-basis: 8.33%;
    max-width: 8.33%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .ml2 {
    flex-basis: 16.666%;
    max-width: 16.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .ml3 {
    flex-basis: 25%;
    max-width: 25%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .ml4 {
    flex-basis: 33.333%;
    max-width: 33.333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .ml5 {
    flex-basis: 41.666%;
    max-width: 41.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .ml6 {
    flex-basis: 50%;
    max-width: 50%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .ml7 {
    flex-basis: 58.333%;
    max-width: 58.333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .ml8 {
    flex-basis: 66.666%;
    max-width: 66.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .ml9 {
    flex-basis: 75%;
    max-width: 75%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .ml10 {
    flex-basis: 83.3333%;
    max-width: 83.3333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .ml11 {
    flex-basis: 91.67%;
    max-width: 91.67%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .ml12 {
    flex-basis: 100%;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
@media (max-width: 30rem) {
  .m1 {
    flex-basis: 8.33%;
    max-width: 8.33%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .m2 {
    flex-basis: 16.666%;
    max-width: 16.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .m3 {
    flex-basis: 25%;
    max-width: 25%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .m4 {
    flex-basis: 33.333%;
    max-width: 33.333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .m5 {
    flex-basis: 41.666%;
    max-width: 41.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .m6 {
    flex-basis: 50%;
    max-width: 50%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .m7 {
    flex-basis: 58.333%;
    max-width: 58.333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .m8 {
    flex-basis: 66.666%;
    max-width: 66.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .m9 {
    flex-basis: 75%;
    max-width: 75%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .m10 {
    flex-basis: 83.3333%;
    max-width: 83.3333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .m11 {
    flex-basis: 91.67%;
    max-width: 91.67%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .m12 {
    flex-basis: 100%;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
[class*=p0] {
  padding: 0;
}

[class*=p2] {
  padding: 0.125rem;
}

[class*=p4] {
  padding: 0.25rem;
}

[class*=p8] {
  padding: 0.5rem;
}

[class*=p12] {
  padding: 0.75rem;
}

[class*=p16] {
  padding: 1rem;
}

[class*=p18] {
  padding: 1.125rem;
}

[class*=p20] {
  padding: 1.25rem;
}

[class*=p24] {
  padding: 1.5rem;
}

[class*=p32] {
  padding: 2rem;
}

[class*=p40] {
  padding: 2.5rem;
}

[class*=p48] {
  padding: 3rem;
}

@media (max-width: 62rem) {
  [class*=p0] {
    padding: 0;
  }
  [class*=p2] {
    padding: 0.125rem;
  }
  [class*=p4] {
    padding: 0.25rem;
  }
  [class*=p8] {
    padding: 0.5rem;
  }
  [class*=p12] {
    padding: 0.75rem;
  }
  [class*=p16] {
    padding: 1rem;
  }
  [class*=p18] {
    padding: 1.125rem;
  }
  [class*=p20] {
    padding: 1.25rem;
  }
  [class*=p24] {
    padding: 1.5rem;
  }
  [class*=p32] {
    padding: 2rem;
  }
  [class*=p40] {
    padding: 2.5rem;
  }
  [class*=p48] {
    padding: 3rem;
  }
}
@media (max-width: 48rem) {
  [class*=p0] {
    padding: 0;
  }
  [class*=p2] {
    padding: 0.125rem;
  }
  [class*=p4] {
    padding: 0.25rem;
  }
  [class*=p8] {
    padding: 0.5rem;
  }
  [class*=p12] {
    padding: 0.75rem;
  }
  [class*=p16] {
    padding: 1rem;
  }
  [class*=p18] {
    padding: 1.125rem;
  }
  [class*=p20] {
    padding: 1.25rem;
  }
  [class*=p24] {
    padding: 1.3125rem;
  }
  [class*=p32] {
    padding: 1.75rem;
  }
  [class*=p40] {
    padding: 2.1875rem;
  }
  [class*=p48] {
    padding: 2.625rem;
  }
}
[class*=pt0] {
  padding-top: 0;
}

[class*=pt2] {
  padding-top: 0.125rem;
}

[class*=pt4] {
  padding-top: 0.25rem;
}

[class*=pt8] {
  padding-top: 0.5rem;
}

[class*=pt12] {
  padding-top: 0.75rem;
}

[class*=pt16] {
  padding-top: 1rem;
}

[class*=pt18] {
  padding-top: 1.125rem;
}

[class*=pt20] {
  padding-top: 1.25rem;
}

[class*=pt24] {
  padding-top: 1.5rem;
}

[class*=pt32] {
  padding-top: 2rem;
}

[class*=pt40] {
  padding-top: 2.5rem;
}

[class*=pt48] {
  padding-top: 3rem;
}

@media (max-width: 62rem) {
  [class*=pt0] {
    padding-top: 0;
  }
  [class*=pt2] {
    padding-top: 0.125rem;
  }
  [class*=pt4] {
    padding-top: 0.25rem;
  }
  [class*=pt8] {
    padding-top: 0.5rem;
  }
  [class*=pt12] {
    padding-top: 0.75rem;
  }
  [class*=pt16] {
    padding-top: 1rem;
  }
  [class*=pt18] {
    padding-top: 1.125rem;
  }
  [class*=pt20] {
    padding-top: 1.25rem;
  }
  [class*=pt24] {
    padding-top: 1.5rem;
  }
  [class*=pt32] {
    padding-top: 2rem;
  }
  [class*=pt40] {
    padding-top: 2.5rem;
  }
  [class*=pt48] {
    padding-top: 3rem;
  }
}
@media (max-width: 48rem) {
  [class*=pt0] {
    padding-top: 0;
  }
  [class*=pt2] {
    padding-top: 0.125rem;
  }
  [class*=pt4] {
    padding-top: 0.25rem;
  }
  [class*=pt8] {
    padding-top: 0.5rem;
  }
  [class*=pt12] {
    padding-top: 0.75rem;
  }
  [class*=pt16] {
    padding-top: 1rem;
  }
  [class*=pt18] {
    padding-top: 1.125rem;
  }
  [class*=pt20] {
    padding-top: 1.25rem;
  }
  [class*=pt24] {
    padding-top: 1.3125rem;
  }
  [class*=pt32] {
    padding-top: 1.75rem;
  }
  [class*=pt40] {
    padding-top: 2.1875rem;
  }
  [class*=pt48] {
    padding-top: 2.625rem;
  }
}
[class*=pr0] {
  padding-right: 0;
}

[class*=pr2] {
  padding-right: 0.125rem;
}

[class*=pr4] {
  padding-right: 0.25rem;
}

[class*=pr8] {
  padding-right: 0.5rem;
}

[class*=pr12] {
  padding-right: 0.75rem;
}

[class*=pr16] {
  padding-right: 1rem;
}

[class*=pr18] {
  padding-right: 1.125rem;
}

[class*=pr20] {
  padding-right: 1.25rem;
}

[class*=pr24] {
  padding-right: 1.5rem;
}

[class*=pr32] {
  padding-right: 2rem;
}

[class*=pr40] {
  padding-right: 2.5rem;
}

[class*=pr48] {
  padding-right: 3rem;
}

@media (max-width: 62rem) {
  [class*=pr0] {
    padding-right: 0;
  }
  [class*=pr2] {
    padding-right: 0.125rem;
  }
  [class*=pr4] {
    padding-right: 0.25rem;
  }
  [class*=pr8] {
    padding-right: 0.5rem;
  }
  [class*=pr12] {
    padding-right: 0.75rem;
  }
  [class*=pr16] {
    padding-right: 1rem;
  }
  [class*=pr18] {
    padding-right: 1.125rem;
  }
  [class*=pr20] {
    padding-right: 1.25rem;
  }
  [class*=pr24] {
    padding-right: 1.5rem;
  }
  [class*=pr32] {
    padding-right: 2rem;
  }
  [class*=pr40] {
    padding-right: 2.5rem;
  }
  [class*=pr48] {
    padding-right: 3rem;
  }
}
@media (max-width: 48rem) {
  [class*=pr0] {
    padding-right: 0;
  }
  [class*=pr2] {
    padding-right: 0.125rem;
  }
  [class*=pr4] {
    padding-right: 0.25rem;
  }
  [class*=pr8] {
    padding-right: 0.5rem;
  }
  [class*=pr12] {
    padding-right: 0.75rem;
  }
  [class*=pr16] {
    padding-right: 1rem;
  }
  [class*=pr18] {
    padding-right: 1.125rem;
  }
  [class*=pr20] {
    padding-right: 1.25rem;
  }
  [class*=pr24] {
    padding-right: 1.3125rem;
  }
  [class*=pr32] {
    padding-right: 1.75rem;
  }
  [class*=pr40] {
    padding-right: 2.1875rem;
  }
  [class*=pr48] {
    padding-right: 2.625rem;
  }
}
[class*=pb0] {
  padding-bottom: 0;
}

[class*=pb2] {
  padding-bottom: 0.125rem;
}

[class*=pb4] {
  padding-bottom: 0.25rem;
}

[class*=pb8] {
  padding-bottom: 0.5rem;
}

[class*=pb12] {
  padding-bottom: 0.75rem;
}

[class*=pb16] {
  padding-bottom: 1rem;
}

[class*=pb18] {
  padding-bottom: 1.125rem;
}

[class*=pb20] {
  padding-bottom: 1.25rem;
}

[class*=pb24] {
  padding-bottom: 1.5rem;
}

[class*=pb32] {
  padding-bottom: 2rem;
}

[class*=pb40] {
  padding-bottom: 2.5rem;
}

[class*=pb48] {
  padding-bottom: 3rem;
}

@media (max-width: 62rem) {
  [class*=pb0] {
    padding-bottom: 0;
  }
  [class*=pb2] {
    padding-bottom: 0.125rem;
  }
  [class*=pb4] {
    padding-bottom: 0.25rem;
  }
  [class*=pb8] {
    padding-bottom: 0.5rem;
  }
  [class*=pb12] {
    padding-bottom: 0.75rem;
  }
  [class*=pb16] {
    padding-bottom: 1rem;
  }
  [class*=pb18] {
    padding-bottom: 1.125rem;
  }
  [class*=pb20] {
    padding-bottom: 1.25rem;
  }
  [class*=pb24] {
    padding-bottom: 1.5rem;
  }
  [class*=pb32] {
    padding-bottom: 2rem;
  }
  [class*=pb40] {
    padding-bottom: 2.5rem;
  }
  [class*=pb48] {
    padding-bottom: 3rem;
  }
}
@media (max-width: 48rem) {
  [class*=pb0] {
    padding-bottom: 0;
  }
  [class*=pb2] {
    padding-bottom: 0.125rem;
  }
  [class*=pb4] {
    padding-bottom: 0.25rem;
  }
  [class*=pb8] {
    padding-bottom: 0.5rem;
  }
  [class*=pb12] {
    padding-bottom: 0.75rem;
  }
  [class*=pb16] {
    padding-bottom: 1rem;
  }
  [class*=pb18] {
    padding-bottom: 1.125rem;
  }
  [class*=pb20] {
    padding-bottom: 1.25rem;
  }
  [class*=pb24] {
    padding-bottom: 1.3125rem;
  }
  [class*=pb32] {
    padding-bottom: 1.75rem;
  }
  [class*=pb40] {
    padding-bottom: 2.1875rem;
  }
  [class*=pb48] {
    padding-bottom: 2.625rem;
  }
}
[class*=pl0] {
  padding-left: 0;
}

[class*=pl2] {
  padding-left: 0.125rem;
}

[class*=pl4] {
  padding-left: 0.25rem;
}

[class*=pl8] {
  padding-left: 0.5rem;
}

[class*=pl12] {
  padding-left: 0.75rem;
}

[class*=pl16] {
  padding-left: 1rem;
}

[class*=pl18] {
  padding-left: 1.125rem;
}

[class*=pl20] {
  padding-left: 1.25rem;
}

[class*=pl24] {
  padding-left: 1.5rem;
}

[class*=pl32] {
  padding-left: 2rem;
}

[class*=pl40] {
  padding-left: 2.5rem;
}

[class*=pl48] {
  padding-left: 3rem;
}

@media (max-width: 62rem) {
  [class*=pl0] {
    padding-left: 0;
  }
  [class*=pl2] {
    padding-left: 0.125rem;
  }
  [class*=pl4] {
    padding-left: 0.25rem;
  }
  [class*=pl8] {
    padding-left: 0.5rem;
  }
  [class*=pl12] {
    padding-left: 0.75rem;
  }
  [class*=pl16] {
    padding-left: 1rem;
  }
  [class*=pl18] {
    padding-left: 1.125rem;
  }
  [class*=pl20] {
    padding-left: 1.25rem;
  }
  [class*=pl24] {
    padding-left: 1.5rem;
  }
  [class*=pl32] {
    padding-left: 2rem;
  }
  [class*=pl40] {
    padding-left: 2.5rem;
  }
  [class*=pl48] {
    padding-left: 3rem;
  }
}
@media (max-width: 48rem) {
  [class*=pl0] {
    padding-left: 0;
  }
  [class*=pl2] {
    padding-left: 0.125rem;
  }
  [class*=pl4] {
    padding-left: 0.25rem;
  }
  [class*=pl8] {
    padding-left: 0.5rem;
  }
  [class*=pl12] {
    padding-left: 0.75rem;
  }
  [class*=pl16] {
    padding-left: 1rem;
  }
  [class*=pl18] {
    padding-left: 1.125rem;
  }
  [class*=pl20] {
    padding-left: 1.25rem;
  }
  [class*=pl24] {
    padding-left: 1.3125rem;
  }
  [class*=pl32] {
    padding-left: 1.75rem;
  }
  [class*=pl40] {
    padding-left: 2.1875rem;
  }
  [class*=pl48] {
    padding-left: 2.625rem;
  }
}
[class*=ph0] {
  padding-inline: 0;
}

[class*=ph2] {
  padding-inline: 0.125rem;
}

[class*=ph4] {
  padding-inline: 0.25rem;
}

[class*=ph8] {
  padding-inline: 0.5rem;
}

[class*=ph12] {
  padding-inline: 0.75rem;
}

[class*=ph16] {
  padding-inline: 1rem;
}

[class*=ph18] {
  padding-inline: 1.125rem;
}

[class*=ph20] {
  padding-inline: 1.25rem;
}

[class*=ph24] {
  padding-inline: 1.5rem;
}

[class*=ph32] {
  padding-inline: 2rem;
}

[class*=ph40] {
  padding-inline: 2.5rem;
}

[class*=ph48] {
  padding-inline: 3rem;
}

@media (max-width: 62rem) {
  [class*=ph0] {
    padding-inline: 0;
  }
  [class*=ph2] {
    padding-inline: 0.125rem;
  }
  [class*=ph4] {
    padding-inline: 0.25rem;
  }
  [class*=ph8] {
    padding-inline: 0.5rem;
  }
  [class*=ph12] {
    padding-inline: 0.75rem;
  }
  [class*=ph16] {
    padding-inline: 1rem;
  }
  [class*=ph18] {
    padding-inline: 1.125rem;
  }
  [class*=ph20] {
    padding-inline: 1.25rem;
  }
  [class*=ph24] {
    padding-inline: 1.5rem;
  }
  [class*=ph32] {
    padding-inline: 2rem;
  }
  [class*=ph40] {
    padding-inline: 2.5rem;
  }
  [class*=ph48] {
    padding-inline: 3rem;
  }
}
@media (max-width: 48rem) {
  [class*=ph0] {
    padding-inline: 0;
  }
  [class*=ph2] {
    padding-inline: 0.125rem;
  }
  [class*=ph4] {
    padding-inline: 0.25rem;
  }
  [class*=ph8] {
    padding-inline: 0.5rem;
  }
  [class*=ph12] {
    padding-inline: 0.75rem;
  }
  [class*=ph16] {
    padding-inline: 1rem;
  }
  [class*=ph18] {
    padding-inline: 1.125rem;
  }
  [class*=ph20] {
    padding-inline: 1.25rem;
  }
  [class*=ph24] {
    padding-inline: 1.3125rem;
  }
  [class*=ph32] {
    padding-inline: 1.75rem;
  }
  [class*=ph40] {
    padding-inline: 2.1875rem;
  }
  [class*=ph48] {
    padding-inline: 2.625rem;
  }
}
[class*=pv0] {
  padding-block: 0;
}

[class*=pv2] {
  padding-block: 0.125rem;
}

[class*=pv4] {
  padding-block: 0.25rem;
}

[class*=pv8] {
  padding-block: 0.5rem;
}

[class*=pv12] {
  padding-block: 0.75rem;
}

[class*=pv16] {
  padding-block: 1rem;
}

[class*=pv18] {
  padding-block: 1.125rem;
}

[class*=pv20] {
  padding-block: 1.25rem;
}

[class*=pv24] {
  padding-block: 1.5rem;
}

[class*=pv32] {
  padding-block: 2rem;
}

[class*=pv40] {
  padding-block: 2.5rem;
}

[class*=pv48] {
  padding-block: 3rem;
}

@media (max-width: 62rem) {
  [class*=pv0] {
    padding-block: 0;
  }
  [class*=pv2] {
    padding-block: 0.125rem;
  }
  [class*=pv4] {
    padding-block: 0.25rem;
  }
  [class*=pv8] {
    padding-block: 0.5rem;
  }
  [class*=pv12] {
    padding-block: 0.75rem;
  }
  [class*=pv16] {
    padding-block: 1rem;
  }
  [class*=pv18] {
    padding-block: 1.125rem;
  }
  [class*=pv20] {
    padding-block: 1.25rem;
  }
  [class*=pv24] {
    padding-block: 1.5rem;
  }
  [class*=pv32] {
    padding-block: 2rem;
  }
  [class*=pv40] {
    padding-block: 2.5rem;
  }
  [class*=pv48] {
    padding-block: 3rem;
  }
}
@media (max-width: 48rem) {
  [class*=pv0] {
    padding-block: 0;
  }
  [class*=pv2] {
    padding-block: 0.125rem;
  }
  [class*=pv4] {
    padding-block: 0.25rem;
  }
  [class*=pv8] {
    padding-block: 0.5rem;
  }
  [class*=pv12] {
    padding-block: 0.75rem;
  }
  [class*=pv16] {
    padding-block: 1rem;
  }
  [class*=pv18] {
    padding-block: 1.125rem;
  }
  [class*=pv20] {
    padding-block: 1.25rem;
  }
  [class*=pv24] {
    padding-block: 1.3125rem;
  }
  [class*=pv32] {
    padding-block: 1.75rem;
  }
  [class*=pv40] {
    padding-block: 2.1875rem;
  }
  [class*=pv48] {
    padding-block: 2.625rem;
  }
}
[class*=h0] {
  grid-column-gap: 0;
  display: flex;
}

[class*=h2] {
  grid-column-gap: 0.125rem;
  display: flex;
}

[class*=h4] {
  grid-column-gap: 0.25rem;
  display: flex;
}

[class*=h8] {
  grid-column-gap: 0.5rem;
  display: flex;
}

[class*=h12] {
  grid-column-gap: 0.75rem;
  display: flex;
}

[class*=h16] {
  grid-column-gap: 1rem;
  display: flex;
}

[class*=h18] {
  grid-column-gap: 1.125rem;
  display: flex;
}

[class*=h20] {
  grid-column-gap: 1.25rem;
  display: flex;
}

[class*=h24] {
  grid-column-gap: 1.5rem;
  display: flex;
}

[class*=h32] {
  grid-column-gap: 2rem;
  display: flex;
}

[class*=h40] {
  grid-column-gap: 2.5rem;
  display: flex;
}

[class*=h48] {
  grid-column-gap: 3rem;
  display: flex;
}

[class*=h60] {
  grid-column-gap: 3.75rem;
  display: flex;
}

[class*=h80] {
  grid-column-gap: 5rem;
  display: flex;
}

[class*=h120] {
  grid-column-gap: 7.5rem;
  display: flex;
}

@media (max-width: 62rem) {
  [class*=h0] {
    grid-column-gap: 0;
    display: flex;
  }
  [class*=h2] {
    grid-column-gap: 0.125rem;
    display: flex;
  }
  [class*=h4] {
    grid-column-gap: 0.25rem;
    display: flex;
  }
  [class*=h8] {
    grid-column-gap: 0.5rem;
    display: flex;
  }
  [class*=h12] {
    grid-column-gap: 0.75rem;
    display: flex;
  }
  [class*=h16] {
    grid-column-gap: 1rem;
    display: flex;
  }
  [class*=h18] {
    grid-column-gap: 1.125rem;
    display: flex;
  }
  [class*=h20] {
    grid-column-gap: 1.25rem;
    display: flex;
  }
  [class*=h24] {
    grid-column-gap: 1.5rem;
    display: flex;
  }
  [class*=h32] {
    grid-column-gap: 2rem;
    display: flex;
  }
  [class*=h40] {
    grid-column-gap: 2.5rem;
    display: flex;
  }
  [class*=h48] {
    grid-column-gap: 3rem;
    display: flex;
  }
  [class*=h60] {
    grid-column-gap: 3.75rem;
    display: flex;
  }
  [class*=h80] {
    grid-column-gap: 5rem;
    display: flex;
  }
  [class*=h120] {
    grid-column-gap: 7.5rem;
    display: flex;
  }
}
@media (max-width: 48rem) {
  [class*=h0] {
    grid-column-gap: 0;
    display: flex;
  }
  [class*=h2] {
    grid-column-gap: 0.125rem;
    display: flex;
  }
  [class*=h4] {
    grid-column-gap: 0.25rem;
    display: flex;
  }
  [class*=h8] {
    grid-column-gap: 0.5rem;
    display: flex;
  }
  [class*=h12] {
    grid-column-gap: 0.75rem;
    display: flex;
  }
  [class*=h16] {
    grid-column-gap: 1rem;
    display: flex;
  }
  [class*=h18] {
    grid-column-gap: 1.125rem;
    display: flex;
  }
  [class*=h20] {
    grid-column-gap: 1.25rem;
    display: flex;
  }
  [class*=h24] {
    grid-column-gap: 1.5rem;
    display: flex;
  }
  [class*=h32] {
    grid-column-gap: 1.75rem;
    display: flex;
  }
  [class*=h40] {
    grid-column-gap: 2.1875rem;
    display: flex;
  }
  [class*=h48] {
    grid-column-gap: 2.625rem;
    display: flex;
  }
  [class*=h60] {
    grid-column-gap: 3.28125rem;
    display: flex;
  }
  [class*=h80] {
    grid-column-gap: 4.375rem;
    display: flex;
  }
  [class*=h120] {
    grid-column-gap: 6.5625rem;
    display: flex;
  }
}
[class*=v0] {
  grid-row-gap: 0;
  display: flex;
  flex-direction: column;
}

[class*=v2] {
  grid-row-gap: 0.125rem;
  display: flex;
  flex-direction: column;
}

[class*=v4] {
  grid-row-gap: 0.25rem;
  display: flex;
  flex-direction: column;
}

[class*=v8] {
  grid-row-gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

[class*=v12] {
  grid-row-gap: 0.75rem;
  display: flex;
  flex-direction: column;
}

[class*=v16] {
  grid-row-gap: 1rem;
  display: flex;
  flex-direction: column;
}

[class*=v18] {
  grid-row-gap: 1.125rem;
  display: flex;
  flex-direction: column;
}

[class*=v20] {
  grid-row-gap: 1.25rem;
  display: flex;
  flex-direction: column;
}

[class*=v24] {
  grid-row-gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

[class*=v32] {
  grid-row-gap: 2rem;
  display: flex;
  flex-direction: column;
}

[class*=v40] {
  grid-row-gap: 2.5rem;
  display: flex;
  flex-direction: column;
}

[class*=v48] {
  grid-row-gap: 3rem;
  display: flex;
  flex-direction: column;
}

[class*=v60] {
  grid-row-gap: 3.75rem;
  display: flex;
  flex-direction: column;
}

[class*=v80] {
  grid-row-gap: 5rem;
  display: flex;
  flex-direction: column;
}

[class*=v120] {
  grid-row-gap: 7.5rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 62rem) {
  [class*=v0] {
    grid-row-gap: 0;
    display: flex;
    flex-direction: column;
  }
  [class*=v2] {
    grid-row-gap: 0.125rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v4] {
    grid-row-gap: 0.25rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v8] {
    grid-row-gap: 0.5rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v12] {
    grid-row-gap: 0.75rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v16] {
    grid-row-gap: 1rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v18] {
    grid-row-gap: 1.125rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v20] {
    grid-row-gap: 1.25rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v24] {
    grid-row-gap: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v32] {
    grid-row-gap: 2rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v40] {
    grid-row-gap: 2.5rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v48] {
    grid-row-gap: 3rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v60] {
    grid-row-gap: 3.75rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v80] {
    grid-row-gap: 5rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v120] {
    grid-row-gap: 7.5rem;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 48rem) {
  [class*=v0] {
    grid-row-gap: 0;
    display: flex;
    flex-direction: column;
  }
  [class*=v2] {
    grid-row-gap: 0.125rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v4] {
    grid-row-gap: 0.25rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v8] {
    grid-row-gap: 0.5rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v12] {
    grid-row-gap: 0.75rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v16] {
    grid-row-gap: 1rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v18] {
    grid-row-gap: 1.125rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v20] {
    grid-row-gap: 1.25rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v24] {
    grid-row-gap: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v32] {
    grid-row-gap: 1.75rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v40] {
    grid-row-gap: 2.1875rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v48] {
    grid-row-gap: 2.625rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v60] {
    grid-row-gap: 3.28125rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v80] {
    grid-row-gap: 4.375rem;
    display: flex;
    flex-direction: column;
  }
  [class*=v120] {
    grid-row-gap: 6.5625rem;
    display: flex;
    flex-direction: column;
  }
}
.fd0 {
  flex-direction: column;
}

.fd1 {
  flex-direction: row;
}

.fj0 {
  justify-content: start;
}

.fj1 {
  justify-content: center;
}

.fj2 {
  justify-content: end;
}

.fj3 {
  justify-content: space-between;
}

.fj4 {
  justify-content: space-around;
}

.fa0 {
  align-items: start;
}

.fa1 {
  align-items: center;
}

.fa2 {
  align-items: end;
}

.fa3 {
  align-items: stretch;
}

.fa4 {
  align-items: baseline;
}

@media (max-width: 62rem) {
  .t_fd0 {
    flex-direction: column;
  }
  .t_fd1 {
    flex-direction: row;
  }
  .t_fj0 {
    justify-content: start;
  }
  .t_fj1 {
    justify-content: center;
  }
  .t_fj2 {
    justify-content: end;
  }
  .t_fj3 {
    justify-content: space-between;
  }
  .t_fj4 {
    justify-content: space-around;
  }
  .t_fa0 {
    align-items: start;
  }
  .t_fa1 {
    align-items: center;
  }
  .t_fa2 {
    align-items: end;
  }
  .t_fa3 {
    align-items: stretch;
  }
  .t_fa4 {
    align-items: baseline;
  }
}
@media (max-width: 48rem) {
  .ml_fd0 {
    flex-direction: column;
  }
  .ml_fd1 {
    flex-direction: row;
  }
  .ml_fj0 {
    justify-content: start;
  }
  .ml_fj1 {
    justify-content: center;
  }
  .ml_fj2 {
    justify-content: end;
  }
  .ml_fj3 {
    justify-content: space-between;
  }
  .ml_fj4 {
    justify-content: space-around;
  }
  .ml_fa0 {
    align-items: start;
  }
  .ml_fa1 {
    align-items: center;
  }
  .ml_fa2 {
    align-items: end;
  }
  .ml_fa3 {
    align-items: stretch;
  }
  .ml_fa4 {
    align-items: baseline;
  }
}
@media (max-width: 30rem) {
  .m_fd0 {
    flex-direction: column;
  }
  .m_fd1 {
    flex-direction: row;
  }
  .m_fj0 {
    justify-content: start;
  }
  .m_fj1 {
    justify-content: center;
  }
  .m_fj2 {
    justify-content: end;
  }
  .m_fj3 {
    justify-content: space-between;
  }
  .m_fj4 {
    justify-content: space-around;
  }
  .m_fa0 {
    align-items: start;
  }
  .m_fa1 {
    align-items: center;
  }
  .m_fa2 {
    align-items: end;
  }
  .m_fa3 {
    align-items: stretch;
  }
  .m_fa4 {
    align-items: baseline;
  }
}
[class*=icon12] {
  display: flex;
  height: 0.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon12-12] {
  display: flex;
  height: 0.75rem;
  width: 0.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon16] {
  display: flex;
  height: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon16-16] {
  display: flex;
  height: 1rem;
  width: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon20] {
  display: flex;
  height: 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon20-20] {
  display: flex;
  height: 1.25rem;
  width: 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon24] {
  display: flex;
  height: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon24-24] {
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon32] {
  display: flex;
  height: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon32-32] {
  display: flex;
  height: 2rem;
  width: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon40] {
  display: flex;
  height: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon40-40] {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon-xs] {
  display: flex;
  height: 0.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon-xs-xs] {
  display: flex;
  height: 0.5em;
  width: 0.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon-s] {
  display: flex;
  height: 0.75em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon-s-s] {
  display: flex;
  height: 0.75em;
  width: 0.75em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon-m] {
  display: flex;
  height: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon-m-m] {
  display: flex;
  height: 1em;
  width: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon-l] {
  display: flex;
  height: 1.25em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon-l-l] {
  display: flex;
  height: 1.25em;
  width: 1.25em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon-xl] {
  display: flex;
  height: 1.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*=icon-xl-xl] {
  display: flex;
  height: 1.5em;
  width: 1.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ta0 {
  text-align: left;
}

.ta1 {
  text-align: center;
}

.ta2 {
  text-align: right;
}

@media (max-width: 62rem) {
  .t_ta0 {
    text-align: left;
  }
  .t_ta1 {
    text-align: center;
  }
  .t_ta2 {
    text-align: right;
  }
}
@media (max-width: 48rem) {
  .ml_ta0 {
    text-align: left;
  }
  .ml_ta1 {
    text-align: center;
  }
  .ml_ta2 {
    text-align: right;
  }
}
@media (max-width: 30rem) {
  .m_ta0 {
    text-align: left;
  }
  .m_ta1 {
    text-align: center;
  }
  .m_ta2 {
    text-align: right;
  }
}
[class*=tw0] {
  font-weight: var(--w0);
}

[class*=tw1] {
  font-weight: var(--w1);
}

[class*=tw2] {
  font-weight: var(--w2);
}

[class*=tw3] {
  font-weight: var(--w3);
}

[class*=tw4] {
  font-weight: var(--w4);
}

[class*=th0] {
  line-height: var(--h0);
}

[class*=th1] {
  line-height: var(--h1);
}

[class*=th2] {
  line-height: var(--h2);
}

[class*=th3] {
  line-height: var(--h3);
}

[class*=th4] {
  line-height: var(--h4);
}

[class*=ts0] {
  letter-spacing: var(--s0);
}

[class*=ts1] {
  letter-spacing: var(--s1);
}

[class*=ts2] {
  letter-spacing: var(--s2);
}

[class*=ts3] {
  letter-spacing: var(--s3);
}

[class*=ts4] {
  letter-spacing: var(--s4);
}

[class*=tt0] {
  text-transform: lowercase;
}

[class*=tt1] {
  text-transform: capitalize;
}

[class*=tt2] {
  text-transform: uppercase;
}

.ed0 {
  display: hidden;
}

.ed1 {
  display: block;
}

.ed2 {
  display: flex;
}

.ed3 {
  display: grid;
}

.ed4 {
  display: inline-block;
}

.ed5 {
  display: inline;
}

.ed6 {
  display: inline-flex;
}

@media (max-width: 62rem) {
  .ed0 {
    display: hidden;
  }
  .ed1 {
    display: block;
  }
  .ed2 {
    display: flex;
  }
  .ed3 {
    display: grid;
  }
  .ed4 {
    display: inline-block;
  }
  .ed5 {
    display: inline;
  }
  .ed6 {
    display: inline-flex;
  }
}
@media (max-width: 48rem) {
  .ed0 {
    display: hidden;
  }
  .ed1 {
    display: block;
  }
  .ed2 {
    display: flex;
  }
  .ed3 {
    display: grid;
  }
  .ed4 {
    display: inline-block;
  }
  .ed5 {
    display: inline;
  }
  .ed6 {
    display: inline-flex;
  }
}
@media (max-width: 30rem) {
  .m_ed0 {
    display: hidden;
  }
  .m_ed1 {
    display: block;
  }
  .m_ed2 {
    display: flex;
  }
  .m_ed3 {
    display: grid;
  }
  .m_ed4 {
    display: inline-block;
  }
  .m_ed5 {
    display: inline;
  }
  .m_ed6 {
    display: inline-flex;
  }
}
.ep0 {
  position: static;
}

.ep1 {
  position: relative;
}

.ep2 {
  position: absolute;
}

.ep3 {
  position: fixed;
}

.ep4 {
  position: sticky;
}

@media (max-width: 62rem) {
  .t_ep0 {
    position: static;
  }
  .t_ep1 {
    position: relative;
  }
  .t_ep2 {
    position: absolute;
  }
  .t_ep3 {
    position: fixed;
  }
  .t_ep4 {
    position: sticky;
  }
}
@media (max-width: 48rem) {
  .ml_ep0 {
    position: static;
  }
  .ml_ep1 {
    position: relative;
  }
  .ml_ep2 {
    position: absolute;
  }
  .ml_ep3 {
    position: fixed;
  }
  .ml_ep4 {
    position: sticky;
  }
}
@media (max-width: 30rem) {
  .m_ep0 {
    position: static;
  }
  .m_ep1 {
    position: relative;
  }
  .m_ep2 {
    position: absolute;
  }
  .m_ep3 {
    position: fixed;
  }
  .m_ep4 {
    position: sticky;
  }
}
[class*=br0] {
  border-radius: var(--br0);
}

[class*=br1] {
  border-radius: var(--br1);
}

[class*=br2] {
  border-radius: var(--br2);
}

[class*=br3] {
  border-radius: var(--br3);
}

[class*=br4] {
  border-radius: var(--br4);
}

[class*=bw0] {
  border-width: var(--bw0);
}

[class*=bw1] {
  border-width: var(--bw1);
}

[class*=bw2] {
  border-width: var(--bw2);
}

[class*=bw3] {
  border-width: var(--bw3);
}

[class*=bw4] {
  border-width: var(--bw4);
}

[class*=of0] {
  overflow: visible;
}

[class*=of1] {
  overflow: scroll;
}

[class*=of2] {
  overflow: auto;
}

[class*=of3] {
  overflow: hidden;
}

[class*=ox0] {
  overflow-x: visible;
  overflow-y: hidden;
}

[class*=ox1] {
  overflow-x: scroll;
  overflow-y: hidden;
}

[class*=ox2] {
  overflow-x: auto;
  overflow-y: hidden;
}

[class*=ox3] {
  overflow-x: hidden;
  overflow-y: hidden;
}

[class*=oy0] {
  overflow-y: visible;
  overflow-x: hidden;
}

[class*=oy1] {
  overflow-y: scroll;
  overflow-x: hidden;
}

[class*=oy2] {
  overflow-y: auto;
  overflow-x: hidden;
}

[class*=oy3] {
  overflow-y: hidden;
  overflow-x: hidden;
}

[class*=ar1x1] {
  aspect-ratio: var(--ar0);
  position: relative;
}

[class*=ar2x3] {
  aspect-ratio: var(--ar1);
  position: relative;
}

[class*=ar3x2] {
  aspect-ratio: var(--ar2);
  position: relative;
}

[class*=ar9x16] {
  aspect-ratio: var(--ar3);
  position: relative;
}

[class*=ar16x9] {
  aspect-ratio: var(--ar4);
  position: relative;
}

.btn {
  background-color: var(--btn-bg);
  color: var(--btn-fc);
  border-color: var(--btn-bc);
  font-weight: var(--btn-fw);
  font-size: var(--btn-fs);
  outline-color: var(--btn-oc);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.sec {
  background-color: var(--btn-sec-bg);
  color: var(--btn-sec-fc);
  border-color: var(--btn-sec-bc);
}

.btn.sm {
  font-weight: var(--btn-sm-fw);
  font-size: var(--btn-sm-fs);
}

.btn > .w-embed {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--btn-icon-size);
  height: var(--btn-icon-size);
}

.btn.sm > .w-embed {
  font-weight: var(--btn-sm-fw);
  font-size: var(--btn-sm-fs);
  width: var(--btn-sm-icon-size);
  height: var(--btn-sm-icon-size);
}

.w-input,
.w-select,
.w-checkbox-input,
.w-radio-input {
  padding: var(--f-padding);
  background-color: var(--f-bg);
  border-color: var(--f-border);
  outline-color: var(--f-outline);
  color: var(--f-text);
  margin-bottom: 0;
  border-radius: var(--f-radius);
}

.w-input::placeholder,
.w-select::placeholder {
  color: var(--f-place);
}

.w-input:focus,
.w-select:focus {
  border-color: var(--f-border-h);
  color: var(--f-text);
}

.input-label {
  font-size: var(--f-label-size);
}

.input-txt {
  font-size: var(--f-txt-size);
  color: var(--f-txt-color);
  font-weight: var(--w1);
}

.w-checkbox {
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.w-checkbox-input {
  margin: 0;
  float: none;
  border-radius: var(--f-check-radius);
}

.w-checkbox > .w-form-label {
  padding-left: var(--f-check-space);
}

.w-radio {
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.w-radio-input {
  margin: 0;
  float: none;
}

.w-radio > .w-form-label {
  padding-left: var(--f-check-space);
}

.input.w-checkbox-input.w--redirected-checked {
  background-color: var(--f-check-color);
  border-color: var(--f-check-color);
}

.input.w-radio-input.w--redirected-checked {
  background-color: var(--f-check-color);
  border-color: var(--f-check-color);
}

.input.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-image: var(--f-check-icon);
}

.input.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 1px 0 0.25rem 0.125rem rgba(0, 0, 0, 0.02);
}

.input.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 1px 0 0.25rem 0.125rem rgba(0, 0, 0, 0.02);
  border-width: var(--f-radio-border);
}

.input.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: var(--f-radio-border);
}