@use "variables" as v;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  overflow: clip;
}

html,
body {
  overscroll-behavior: none;
}

.w-richtext > :first-child {
  margin-top: 0;
}
.w-richtext > :last-child,
.w-richtext ol li:last-child,
.w-richtext ul li:last-child {
  margin-bottom: 0;
}

p,
label {
  margin-bottom: 0;
}

p {
  line-height: inherit;
}

a,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link,
.w-nav-brand {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}

:root:not([data-wf-site]) {
  --wf-system---d1-black: rgba(0, 0, 0, 1);
  --wf-system---d1-black-a-5: rgba(0, 0, 0, 0.05);
  --wf-system---d1-black-a-10: rgba(0, 0, 0, 0.1);
  --wf-system---d1-black-a-25: rgba(0, 0, 0, 0.25);
  --wf-system---d1-black-a-50: rgba(0, 0, 0, 0.5);
  --wf-system---d1-black-a-75: rgba(0, 0, 0, 0.75);
  --wf-system---d1-white: rgba(255, 255, 255, 1);
  --wf-system---d1-white-a-5: rgba(255, 255, 255, 0.05);
  --wf-system---d1-white-a-10: rgba(255, 255, 255, 0.1);
  --wf-system---d1-white-a-25: rgba(255, 255, 255, 0.25);
  --wf-system---d1-white-a-50: rgba(255, 255, 255, 0.5);
  --wf-system---d1-white-a-75: rgba(255, 255, 255, 0.75);
  --wf-system---d1-gray-25: #f6f6f6;
  --wf-system---d1-gray-50: #ebebeb;
  --wf-system---d1-gray-100: #d9d9d9;
  --wf-system---d1-gray-200: #ababab;
  --wf-system---d1-gray-300: #757575;
  --wf-system---d1-gray-350: #696969;
  --wf-system---d1-gray-400: #5e5e5e;
  --wf-system---d1-gray-500: #4d4d4d;
  --wf-system---d1-gray-600: #404040;
  --wf-system---d1-gray-700: #363636;
  --wf-system---d1-gray-800: #2b2b2b;
  --wf-system---d1-gray-900: #212121;
  --wf-system---d1-blue-100: #8ac2ff;
  --wf-system---d1-blue-200: #2496ff;
  --wf-system---d1-blue-300: #0084ff;
  --wf-system---d1-blue-350: #1280ee;
  --wf-system---d1-blue-400: #0073e6;
  --wf-system---d1-blue-500: #0066ff;
  --wf-system---d1-blue-600: #005ce5;
  --wf-system---d1-blue-a-10: rgba(0, 115, 230, 0.1);
  --wf-system---d1-blue-a-20: rgba(0, 115, 230, 0.2);
  --wf-system---d1-blue-a-30: rgba(0, 115, 230, 0.3);
  --wf-system---d1-green-100: #63d489;
  --wf-system---d1-green-200: #2fc862;
  --wf-system---d1-green-300: #00a457;
  --wf-system---d1-green-350: #00944f;
  --wf-system---d1-green-400: #008547;
  --wf-system---d1-green-500: #00713c;
  --wf-system---d1-green-a-10: rgba(0, 133, 71, 0.1);
  --wf-system---d1-green-a-20: rgba(0, 133, 71, 0.2);
  --wf-system---d1-green-a-30: rgba(0, 133, 71, 0.3);
  --wf-system---d1-orange-100: #ffab66;
  --wf-system---d1-orange-200: #f67e28;
  --wf-system---d1-orange-300: #f85900;
  --wf-system---d1-orange-350: #dd7124;
  --wf-system---d1-orange-400: #c75300;
  --wf-system---d1-orange-a-10: rgba(248, 89, 0, 0.1);
  --wf-system---d1-orange-a-20: rgba(248, 89, 0, 0.2);
  --wf-system---d1-orange-a-30: rgba(248, 89, 0, 0.3);
  --wf-system---d1-pink-100: #f7a9f9;
  --wf-system---d1-pink-200: #f775d3;
  --wf-system---d1-pink-300: #e148c0;
  --wf-system---d1-pink-350: #d34eb7;
  --wf-system---d1-pink-400: #be4aa5;
  --wf-system---d1-pink-500: #d914ae;
  --wf-system---d1-pink-600: #c3129d;
  --wf-system---d1-pink-a-10: rgba(190, 74, 165, 0.1);
  --wf-system---d1-pink-a-20: rgba(190, 74, 165, 0.2);
  --wf-system---d1-pink-a-30: rgba(190, 74, 165, 0.3);
  --wf-system---d1-purple-100: #b89eff;
  --wf-system---d1-purple-200: #a484ff;
  --wf-system---d1-purple-300: #8a61ff;
  --wf-system---d1-purple-400: #7f5ae9;
  --wf-system---d1-purple-500: #7140ff;
  --wf-system---d1-purple-600: #663ae5;
  --wf-system---d1-purple-a-10: rgba(127, 90, 233, 0.1);
  --wf-system---d1-purple-a-20: rgba(127, 90, 233, 0.2);
  --wf-system---d1-purple-a-30: rgba(127, 90, 233, 0.3);
  --wf-system---d1-red-100: #ff8a8a;
  --wf-system---d1-red-200: #ff424d;
  --wf-system---d1-red-300: #ed273e;
  --wf-system---d1-red-350: #db434c;
  --wf-system---d1-red-400: #cf313b;
  --wf-system---d1-red-500: #d50000;
  --wf-system---d1-red-600: #b50000;
  --wf-system---d1-red-a-10: rgba(207, 49, 59, 0.1);
  --wf-system---d1-red-a-20: rgba(207, 49, 59, 0.2);
  --wf-system---d1-red-a-30: rgba(207, 49, 59, 0.3);
  --wf-system---d1-yellow-300: #ffc700;
  --wf-system---d1-yellow-400: #eaa700;
  --wf-system---d1-yellow-450: #ad7d00;
  --wf-system---d1-yellow-500: #996e00;
  --wf-system---d1-yellow-a-10: rgba(255, 199, 0, 0.1);
  --wf-system---d1-yellow-a-20: rgba(255, 199, 0, 0.2);
  --wf-system---d1-yellow-a-30: rgba(255, 199, 0, 0.3);
  --wf-system---d1-yellow-a-70: rgba(255, 199, 0, 0.7);
  --wf-system---d1-webflow-blue-100: #738cff;
  --wf-system---d1-webflow-blue-200: #4d6bff;
  --wf-system---d1-webflow-blue-300: #4353ff;
  --wf-system---d1-webflow-blue-400: #3545ee;
  --wf-system---d1-webflow-blue-500: #323ed1;
  --wf-system---d1-webflow-blue-a-10: rgba(67, 83, 255, 0.1);
  --wf-system---d1-webflow-blue-a-20: rgba(67, 83, 255, 0.2);
  --wf-system---d1-webflow-blue-a-30: rgba(67, 83, 255, 0.3);
  --wf-system---white: #ffffff;
  --wf-system---white-a-7: rgba(255, 255, 255, 0.07);
  --wf-system---white-a-10: rgba(255, 255, 255, 0.1);
  --wf-system---white-a-13: rgba(255, 255, 255, 0.13);
  --wf-system---white-a-16: rgba(255, 255, 255, 0.16);
  --wf-system---white-a-19: rgba(255, 255, 255, 0.19);
  --wf-system---white-a-22: rgba(255, 255, 255, 0.22);
  --wf-system---black: #000000;
  --wf-system---black-a-7: rgba(0, 0, 0, 0.07);
  --wf-system---black-a-10: rgba(0, 0, 0, 0.1);
  --wf-system---black-a-13: rgba(0, 0, 0, 0.13);
  --wf-system---black-a-16: rgba(0, 0, 0, 0.16);
  --wf-system---black-a-19: rgba(0, 0, 0, 0.19);
  --wf-system---black-a-22: rgba(0, 0, 0, 0.22);
  --wf-system---black-a-30: rgba(0, 0, 0, 0.3);
  --wf-system---black-a-40: rgba(0, 0, 0, 0.4);
  --wf-system---black-a-50: rgba(0, 0, 0, 0.5);
  --wf-system---black-a-60: rgba(0, 0, 0, 0.6);
  --wf-system---black-a-70: rgba(0, 0, 0, 0.7);
  --wf-system---black-a-80: rgba(0, 0, 0, 0.8);
  --wf-system---gray-0: #f5f5f5;
  --wf-system---gray-100: #e8e8e8;
  --wf-system---gray-200: #e0e0e0;
  --wf-system---gray-300: #dbdbdb;
  --wf-system---gray-400: #c4c4c4;
  --wf-system---gray-500: #a6a6a6;
  --wf-system---gray-550: #8a8a8a;
  --wf-system---gray-600: #6d6d6d;
  --wf-system---gray-700: #5e5e5e;
  --wf-system---gray-800: #404040;
  --wf-system---gray-900: #373737;
  --wf-system---gray-1000: #353535;
  --wf-system---gray-1100: #292929;
  --wf-system---gray-1200: #1e1e1e;
  --wf-system---blue-100: #a7d1ff;
  --wf-system---blue-200: #187cd9;
  --wf-system---blue-300: #006acc;
  --wf-system---blue-400: #007df0;
  --wf-system---blue-a-10: rgba(0, 125, 240, 0.1);
  --wf-system---blue-a-15: rgba(0, 125, 240, 0.15);
  --wf-system---blue-a-20: rgba(0, 125, 240, 0.2);
  --wf-system---blue-a-25: rgba(0, 125, 240, 0.25);
  --wf-system---blue-a-30: rgba(0, 125, 240, 0.3);
  --wf-system---blue-a-35: rgba(0, 125, 240, 0.35);
  --wf-system---brand-blue-100: #2c80fd;
  --wf-system---brand-blue-200: #146ef5;
  --wf-system---brand-blue-300: #1961f0;
  --wf-system---brand-blue-400: #1755e0;
  --wf-system---brand-blue-a-10: rgba(20, 110, 245, 0.1);
  --wf-system---brand-blue-a-15: rgba(20, 110, 245, 0.15);
  --wf-system---brand-blue-a-20: rgba(20, 110, 245, 0.2);
  --wf-system---brand-blue-a-25: rgba(20, 110, 245, 0.25);
  --wf-system---brand-blue-a-30: rgba(20, 110, 245, 0.3);
  --wf-system---brand-blue-a-35: rgba(20, 110, 245, 0.35);
  --wf-system---green-100: #75ea9d;
  --wf-system---green-200: #0d8a4f;
  --wf-system---green-300: #007a41;
  --wf-system---green-400: #259d4d;
  --wf-system---green-a-10: rgba(37, 157, 77, 0.1);
  --wf-system---green-a-15: rgba(37, 157, 77, 0.15);
  --wf-system---green-a-20: rgba(37, 157, 77, 0.2);
  --wf-system---green-a-25: rgba(37, 157, 77, 0.25);
  --wf-system---green-a-30: rgba(37, 157, 77, 0.3);
  --wf-system---green-a-35: rgba(37, 157, 77, 0.35);
  --wf-system---yellow-100: #ffde5b;
  --wf-system---yellow-200: #f0c000;
  --wf-system---yellow-300: #8b6d00;
  --wf-system---yellow-400: #ffd301;
  --wf-system---yellow-a-10: rgba(255, 211, 1, 0.1);
  --wf-system---yellow-a-15: rgba(215, 162, 32, 0.15);
  --wf-system---yellow-a-20: rgba(215, 162, 32, 0.2);
  --wf-system---yellow-a-25: rgba(215, 162, 32, 0.25);
  --wf-system---yellow-a-30: rgba(215, 162, 32, 0.3);
  --wf-system---yellow-a-35: rgba(215, 162, 32, 0.35);
  --wf-system---red-100: #ff9c9c;
  --wf-system---red-200: #cb3535;
  --wf-system---red-300: #bd2626;
  --wf-system---red-400: #e42f3a;
  --wf-system---red-a-10: rgba(228, 47, 58, 0.1);
  --wf-system---red-a-15: rgba(228, 47, 58, 0.15);
  --wf-system---red-a-25: rgba(228, 47, 58, 0.25);
  --wf-system---red-a-20: rgba(228, 47, 58, 0.2);
  --wf-system---red-a-30: rgba(228, 47, 58, 0.3);
  --wf-system---red-a-35: rgba(228, 47, 58, 0.35);
  --wf-system---orange-100: #ffbc86;
  --wf-system---orange-200: #c95616;
  --wf-system---orange-300: #bf4707;
  --wf-system---orange-400: #df640c;
  --wf-system---orange-a-10: rgba(223, 100, 12, 0.1);
  --wf-system---orange-a-15: rgba(223, 100, 12, 0.15);
  --wf-system---orange-a-20: rgba(223, 100, 12, 0.2);
  --wf-system---orange-a-25: rgba(223, 100, 12, 0.25);
  --wf-system---orange-a-30: rgba(223, 100, 12, 0.3);
  --wf-system---orange-a-35: rgba(223, 100, 12, 0.35);
  --wf-system---purple-100: #c4afff;
  --wf-system---purple-200: #815beb;
  --wf-system---purple-300: #734ce0;
  --wf-system---purple-400: #875ffd;
  --wf-system---purple-a-10: rgba(135, 95, 253, 0.1);
  --wf-system---purple-a-15: rgba(135, 95, 253, 0.15);
  --wf-system---purple-a-20: rgba(135, 95, 253, 0.2);
  --wf-system---purple-a-25: rgba(135, 95, 253, 0.25);
  --wf-system---purple-a-30: rgba(135, 95, 253, 0.3);
  --wf-system---purple-a-35: rgba(135, 95, 253, 0.35);
  --wf-system---pink-100: #febdff;
  --wf-system---pink-200: #c44aa9;
  --wf-system---pink-300: #b53a9a;
  --wf-system---pink-400: #dd2cac;
  --wf-system---pink-a-10: rgba(221, 44, 172, 0.1);
  --wf-system---pink-a-15: rgba(221, 44, 172, 0.15);
  --wf-system---pink-a-20: rgba(221, 44, 172, 0.2);
  --wf-system---pink-a-25: rgba(221, 44, 172, 0.25);
  --wf-system---pink-a-30: rgba(221, 44, 172, 0.3);
  --wf-system---pink-a-35: rgba(221, 44, 172, 0.35);
}
