$surface: (
  "0": var(--tokens--color--surface--0),
  "1": var(--tokens--color--surface--1),
  "2": var(--tokens--color--surface--2),
  "3": var(--tokens--color--surface--3),
);

@each $key, $val in $surface {
  [class*="bgs#{$key}"] {
    background: $val;
  }
  [class*="bcs#{$key}"] {
    border-color: $val;
  }
  [class*="ocs#{$key}"] {
    outline-color: $val;
  }
}

$text: (
  "0": var(--tokens--color--text--0),
  "1": var(--tokens--color--text--1),
  "2": var(--tokens--color--text--2),
  "3": var(--tokens--color--text--3),
);

@each $key, $val in $text {
  [class*="fct#{$key}"] {
    color: $val;
  }
  [class*="sct#{$key}"] {
    -webkit-text-stroke-color: $val;
  }
}
