@use "sass:math";
@use "variables" as v;

@each $key, $val in v.$colors {
  [class*="bg#{$key}"] {
    background-color: $val;
  }
  [class*="fc#{$key}"] {
    color: $val;
  }
  [class*="bc#{$key}"] {
    border-color: $val;
  }
  [class*="sc#{$key}"] {
    -webkit-text-stroke-color: $val;
  }
}
