@use "sass:math";
@use "variables" as v;

@mixin generate-padding-values($prefix, $property, $deviceLabel: "") {
  $values: (
    "0": 0,
    "2": 0.125rem,
    "4": 0.25rem,
    "8": 0.5rem,
    "12": 0.75rem,
    "16": 1rem,
    "18": 1.125rem,
    "20": 1.25rem,
    "24": 1.5rem,
    "32": 2rem,
    "40": 2.5rem,
    "48": 3rem,
    "56": 3.5rem,
    "64": 4rem,
    "72": 4.5rem,
    "80": 5rem,
    "88": 5.5rem,
    "96": 6rem,
    "104": 6.5rem,
    "112": 7rem,
    "120": 7.5rem,
  );

  @each $k, $v in $values {
    [class*="#{$deviceLabel}#{$prefix}#{$k}"] {
      #{$property}: $v;
    }
  }
}

$spacing: (
  "padding": (
    "prefix": "p",
    "property": "padding",
  ),
  "padding-top": (
    "prefix": "pt",
    "property": "padding-top",
  ),
  "padding-right": (
    "prefix": "pr",
    "property": "padding-right",
  ),
  "padding-bottom": (
    "prefix": "pb",
    "property": "padding-bottom",
  ),
  "padding-left": (
    "prefix": "pl",
    "property": "padding-left",
  ),
  "padding-inline": (
    "prefix": "ph",
    "property": "padding-inline",
  ),
  "padding-block": (
    "prefix": "pv",
    "property": "padding-block",
  ),
);

@each $property, $map in $spacing {
  $prefix: map-get($map, "prefix");
  $property: map-get($map, "property");

  @include generate-padding-values($prefix, $property, "xs_");

  @media (min-width: #{map-get(v.$breakpoints, "m")}) {
    @include generate-padding-values($prefix, $property, "sm_");
  }

  @media (min-width: #{map-get(v.$breakpoints, "ml")}) {
    @include generate-padding-values($prefix, $property, "md_");
  }

  @media (min-width: #{map-get(v.$breakpoints, "t")}) {
    @include generate-padding-values($prefix, $property, "lg_");
  }
}

// Gaps

// define mixin to generate gap values
@mixin generate-gap-values($property, $prefix, $deviceLabel: "") {
  $values: (
    "0": 0,
    "2": 0.125rem,
    "4": 0.25rem,
    "8": 0.5rem,
    "12": 0.75rem,
    "16": 1rem,
    "18": 1.125rem,
    "20": 1.25rem,
    "24": 1.5rem,
    "32": 2rem,
    "40": 2.5rem,
    "48": 3rem,
    "56": 3.5rem,
    "64": 4rem,
    "72": 4.5rem,
    "80": 5rem,
    "88": 5.5rem,
    "96": 6rem,
    "104": 6.5rem,
    "112": 7rem,
    "120": 7.5rem,
  );

  @each $k, $v in $values {
    [class*="#{$deviceLabel}#{$prefix}#{$k}"] {
      #{$property}: $v;
      display: flex;
      @if $prefix == "v" {
        flex-direction: column;
      }
    }
  }
}

// define gap values
$gap-values: (
  "grid-column-gap": (
    "prefix": "h",
  ),
  "grid-row-gap": (
    "prefix": "v",
  ),
);

// generate utility classes for gap values
@each $property, $map in $gap-values {
  $prefix: map-get($map, "prefix");
  @include generate-gap-values($property, $prefix, "xs_");

  @media (min-width: #{map-get(v.$breakpoints, "m")}) {
    @include generate-gap-values($property, $prefix, "sm_");
  }

  @media (min-width: #{map-get(v.$breakpoints, "ml")}) {
    @include generate-gap-values($property, $prefix, "md_");
  }

  @media (min-width: #{map-get(v.$breakpoints, "t")}) {
    @include generate-gap-values($property, $prefix, "lg_");
  }
}
