@use "sass:math";
@use "variables" as v;

@each $key, $val in v.$font {
  [class*="lg_x#{$key}"] {
    font-size: $val;
  }
}

@media screen and (max-width: map-get(v.$breakpoints, "t")) {
  @each $key, $val in v.$font {
    [class*="md_x#{$key}"] {
      font-size: $val;
    }
  }
}

@media screen and (max-width: map-get(v.$breakpoints, "ml")) {
  @each $key, $val in v.$font {
    [class*="sm_x#{$key}"] {
      font-size: $val;
    }
  }
}

@media screen and (max-width: map-get(v.$breakpoints, "m")) {
  @each $key, $val in v.$font {
    [class*="xs_x#{$key}"] {
      font-size: $val;
    }
  }
}
