@use "sass:color";

html {
  //font weight values
  --primitives--size--text--weight--0: 300;
  --primitives--size--text--weight--1: 400;
  --primitives--size--text--weight--2: 500;
  --primitives--size--text--weight--3: 600;
  --primitives--size--text--weight--4: 700;

  //line height values
  --primitives--size--text--height--0: 1.5;
  --primitives--size--text--height--1: 1.3;
  --primitives--size--text--height--2: 1.2;
  --primitives--size--text--height--3: 1.1;
  --primitives--size--text--height--4: 1;

  //letter spacing values
  --primitives--size--text--spacing--0: -0.011em;
  --primitives--size--text--spacing--1: -0.014em;
  --primitives--size--text--spacing--2: -0.019em;
  --primitives--size--text--spacing--3: -0.021em;
  --primitives--size--text--spacing--4: -0.022em;

  //border radius values
  --br0: 0.25rem;
  --br1: 0.5em;
  --br2: 1em;
  --br3: 1.5em;
  --br4: 2em;

  //border width values
  --bw0: 0.5px;
  --bw1: 1px;
  --bw2: 1.5em;
  --bw3: 0.125rem;
  --bw4: 0.25rem;

  //border width values
  --ar0: 1/1;
  --ar1: 2/3;
  --ar2: 3/2;
  --ar3: 9/16;
  --ar4: 16/9;

  //form values

  // --f-bg: var(--col-0);
  // --f-border: var(--col-0-1);
  // --f-radius: 0.5rem;
  // --f-outline: var(--col-1-4);
  // --f-text: var(--col-0-4);
  // --f-place: var(--col-0-3);

  // --f-padding: 0.5rem;
  // --f-label-size: 0.875em;
  // --f-txt-size: 0.75em;

  --f-check-space: 0.5rem;
  --f-check-radius: 0.125rem;
  --f-check-color: var(--col-1);
  --f-check-icon: url("https://cdn.jsdelivr.net/gh/stefan-nube/nube-flow-pro@v0.2.0/nf-check_icon.svg");

  --f-radio-border: 1.2px;
}

// color palette
$colors: (
  "0-0": var(--primitives--color--base--0-0),
  "0-1": var(--primitives--color--base--0-1),
  "0-2": var(--primitives--color--base--0-2),
  "0-3": var(--primitives--color--base--0-3),
  "0-4": var(--primitives--color--base--0-4),
  "0-5": var(--primitives--color--base--0-5),
  "1-0": var(--primitives--color--brand--1-0),
  "1-1": var(--primitives--color--brand--1-1),
);

// font sizes
$font: (
  "0": var(--size--text--x0),
  "1": var(--size--text--x1),
  "2": var(--size--text--x2),
  "3": var(--size--text--x3),
  "4": var(--size--text--x4),
  "5": var(--size--text--x5),
  "6": var(--size--text--x6),
  "7": var(--size--text--x7),
  "8": var(--size--text--x8),
  "9": var(--size--text--x9),
);

// font weight
$font-weight: (
  "0": var(--w0),
  "1": var(--w1),
  "2": var(--w2),
  "3": var(--w3),
  "4": var(--w4),
);

// line height
$font-height: (
  "0": var(--h0),
  "1": var(--h1),
  "2": var(--h2),
  "3": var(--h3),
  "4": var(--h4),
);

// letter spacing
$font-spacing: (
  "0": var(--s0),
  "1": var(--s1),
  "2": var(--s2),
  "3": var(--s3),
  "4": var(--s4),
);

// breakpoints
$breakpoints: (
  "m": 479px,
  "ml": 767px,
  "t": 991px,
);

// spacing
$space: 1rem;
$multiplier: 1;

// icon sizes
$icons: (
  "12": 0.75rem,
  "16": 1rem,
  "20": 1.25rem,
  "24": 1.5rem,
  "32": 2rem,
  "40": 2.5rem,
);
$icons-rel: (
  "xs": 0.5em,
  "s": 0.75em,
  "m": 1em,
  "l": 1.25em,
  "xl": 1.5em,
);

// border radius
$border-radius: (
  "0": var(--br0),
  "1": var(--br1),
  "2": var(--br2),
  "3": var(--br3),
  "4": var(--br4),
);

// border width
$border-width: (
  "0": var(--bw0),
  "1": var(--bw1),
  "2": var(--bw2),
  "3": var(--bw3),
  "4": var(--bw4),
);

// ratio sizes
$ratio: (
  "1x1": var(--ar0),
  "2x3": var(--ar1),
  "3x2": var(--ar2),
  "9x16": var(--ar3),
  "16x9": var(--ar4),
);

@media (max-width: map-get($breakpoints, "t")) {
  html {
    --x0: 0.75rem;
    --x1: 0.875rem;
    --x2: 1rem;
    --x3: 1.125rem;
    --x4: 1.25rem;
    --x5: 1.5rem;
    --x6: 2rem;
    --x7: 2.25rem;
    --x8: 3rem;
    --x9: 3.75rem;
  }
}

@media (max-width: map-get($breakpoints, "ml")) {
  html {
    --x0: 0.75rem;
    --x1: 0.875rem;
    --x2: 1rem;
    --x3: 1.125rem;
    --x4: 1.25rem;
    --x5: 1.5rem;
    --x6: 1.75rem;
    --x7: 2.25rem;
    --x8: 2.75rem;
    --x9: 3.5rem;
  }
}

@media (max-width: map-get($breakpoints, "m")) {
  html {
    --x0: 0.75rem;
    --x1: 0.875rem;
    --x2: 1rem;
    --x3: 1.125rem;
    --x4: 1.25rem;
    --x5: 1.5rem;
    --x6: 1.75rem;
    --x7: 2rem;
    --x8: 2.5rem;
    --x9: 3.25rem;
  }
}
