@use "sass:color";

html {
  // base color values
  --col-0: #ffffff;
  --col-0-1: #f0f2f4;
  --col-0-2: #d1d5db;
  // core/text color values
  --col-1: #0c111c;
  --col-1-1: #1c2431;
  --col-1-2: #6b7280;
  // accent color values
  --col-2: #165ff2;
  --col-2-1: #5aa7ff;
  --col-2-2: #f2f5fd;

  //font size values
  --x0: 0.75rem;
  --x1: 0.875rem;
  --x2: 1rem;
  --x3: 1.125rem;
  --x4: 1.25rem;
  --x5: 1.5rem;
  --x6: 2rem;
  --x7: 2.5rem;
  --x8: 3.5rem;
  --x9: 4.5rem;

  //font weight values
  --w0: 300;
  --w1: 400;
  --w2: 500;
  --w3: 600;
  --w4: 700;

  //line height values
  --h0: 1.5;
  --h1: 1.3;
  --h2: 1.2;
  --h3: 1.1;
  --h4: 1;

  //letter spacing values
  --s0: -0.011em;
  --s1: -0.014em;
  --s2: -0.019em;
  --s3: -0.021em;
  --s4: -0.022em;

  //border radius values
  --br0: 0.25rem;
  --br1: 0.5em;
  --br2: 1em;
  --br3: 1.5em;
  --br4: 2em;

  //border width values
  --bw0: 0.5px;
  --bw1: 1px;
  --bw2: 1.5em;
  --bw3: 0.125rem;
  --bw4: 0.25rem;

  //border width values
  --ar0: 1/1;
  --ar1: 2/3;
  --ar2: 3/2;
  --ar3: 9/16;
  --ar4: 16/9;

  //button values
  //prim values
  --btn-bg: var(--col-2);
  --btn-bc: var(--col-2);
  --btn-fc: var(--col-0);
  //general values
  --btn-oc: var(--col-2-2);
  --btn-fs: var(--x3);
  --btn-fw: var(--w2);
  --btn-icon-size: 1.2em;

  //sec values
  --btn-sec-bg: transparent;
  --btn-sec-bc: var(--col-1);
  --btn-sec-fc: var(--col-1);
  //small values
  --btn-sm-fs: var(--x2);
  --btn-sm-fw: var(--w2);
  --btn-sm-icon-size: 1em;

  //form values
  --f-bg: var(--col-0);
  --f-border: var(--col-0-1);
  --f-radius: 0.5rem;
  --f-outline: var(--col-2-2);
  --f-text: var(--col-1-1);
  --f-place: var(--col-1-2);

  --f-padding: 0.5rem;
  --f-label-size: 0.875em;
  --f-txt-size: 0.75em;
  --f-check-space: 0.5rem;
  --f-check-radius: 0.125rem;
  --f-check-color: var(--col-2);
  --f-check-icon: url("https://cdn.jsdelivr.net/gh/stefan-nube/nube-flow-pro@v0.2.0/nf-check_icon.svg");
  --f-radio-border: 1.2px;
}

// color palette
$colors: (
  "0": var(--col-0),
  "0-1": var(--col-0-1),
  "0-2": var(--col-0-2),
  "1": var(--col-1),
  "1-1": var(--col-1-1),
  "1-2": var(--col-1-2),
  "2": var(--col-2),
  "2-1": var(--col-2-1),
  "2-2": var(--col-2-2),
);

// font sizes
$font: (
  "x0": var(--x0),
  "x1": var(--x1),
  "x2": var(--x2),
  "x3": var(--x3),
  "x4": var(--x4),
  "x5": var(--x5),
  "x6": var(--x6),
  "x7": var(--x7),
  "x8": var(--x8),
  "x9": var(--x9),
);

// font weight
$font-weight: (
  "0": var(--w0),
  "1": var(--w1),
  "2": var(--w2),
  "3": var(--w3),
  "4": var(--w4),
);

// line height
$font-height: (
  "0": var(--h0),
  "1": var(--h1),
  "2": var(--h2),
  "3": var(--h3),
  "4": var(--h4),
);

// letter spacing
$font-spacing: (
  "0": var(--s0),
  "1": var(--s1),
  "2": var(--s2),
  "3": var(--s3),
  "4": var(--s4),
);

// breakpoints
$breakpoints: (
  "m": 30rem,
  "ml": 48rem,
  "t": 62rem,
);

// spacing
$space: 1rem;
$multiplier: 1;

// icon sizes
$icons: (
  "12": 0.75rem,
  "16": 1rem,
  "20": 1.25rem,
  "24": 1.5rem,
  "32": 2rem,
  "40": 2.5rem,
);
$icons-rel: (
  "xs": 0.5em,
  "s": 0.75em,
  "m": 1em,
  "l": 1.25em,
  "xl": 1.5em,
);

// border radius
$border-radius: (
  "0": var(--br0),
  "1": var(--br1),
  "2": var(--br2),
  "3": var(--br3),
  "4": var(--br4),
);

// border width
$border-width: (
  "0": var(--bw0),
  "1": var(--bw1),
  "2": var(--bw2),
  "3": var(--bw3),
  "4": var(--bw4),
);

// ratio sizes
$ratio: (
  "1x1": var(--ar0),
  "2x3": var(--ar1),
  "3x2": var(--ar2),
  "9x16": var(--ar3),
  "16x9": var(--ar4),
);
